.container-fluid#home-carousel-controls
  .row.text-center
    .col-md-4.col-sm-12
      .row
        .home-carousel-control.col-lg-6.col-lg-offset-3.text-center{ href: "#", "data-slide-to" => "0", "data-target" => "#carousel-home"} 
          %p.lead.without-margin
            track your recurring expenses
          %span.arrow-down.carousel-arrow#carousel-arrow-0
    .col-md-4.col-sm-12
      .row
        .home-carousel-control.col-lg-6.col-lg-offset-3.text-center{ href: "#", "data-slide-to" => "1", "data-target" => "#carousel-home"}
          %p.lead.without-margin
            cancel subscriptions with a click
          %span.arrow-down.carousel-arrow#carousel-arrow-1
    .col-md-4.col-sm-12
      .row
        .home-carousel-control.col-lg-6.col-lg-offset-3.text-center{ href: "#", "data-slide-to" => "2", "data-target" => "#carousel-home"}
          %p.lead.without-margin
            best of all its completely <em>free</em>
          %span.arrow-down.carousel-arrow#carousel-arrow-2

#carousel-home.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators.mobile-carousel-control
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-home"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-home"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-home"}

  / Wrapper for slides
  .carousel-inner{role: "listbox"}
    .item.active{data: {slide: 0}}
      %img{alt: "...", src: image_url('trym_on_ipad.jpg')}
        .carousel-caption
          %p.lead
            %strong Track your spending on recurring charges. For free.
          %p track all your subscription services and we'll show you how much money you could save by canceling the ones you don't need. all for free.
    .item{data: {slide: 1}}
      %img{alt: "...", src: image_url('trym_on_laptop.jpg')}
        .carousel-caption
          %p.lead 
            %strong Start counting your savings the moment you hit <em>Stop</em>.  For Free.
          %p tell us to cancel something and we'll do the rest. no more spending hours on the phone trying to cancel your subscriptions.  
    .item{data: {slide: 2}}
      %img{alt: "...", src: image_url('clovers.jpg')}
        .carousel-caption
          %p.lead 
            %strong Did we mention its free?
          %p we probably did. we say that part a lot. (because it's free).


  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-home", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-home", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next

:javascript
  $(".carousel-arrow").hide();
  $("#carousel-arrow-0").show().parent().addClass("active");
  $('#carousel-home').on('slide.bs.carousel', function (e) {
    $(".carousel-arrow").hide().parent().removeClass("active");
    $("#carousel-arrow-" + $(e.relatedTarget).data('slide') ).show().parent().addClass("active");
  })