.container
  =render 'about_links', about_greeting: "Let me tell you a little bit about myself.", active: "about"
  .row
    .col-md-10.col-md-offset-1.col-sm-12
      .row.about-page-section
        .col-lg-2.col-md-3.about-page-section-header
          %strong What is trym?
        .col-lg-10.col-md-9
          %p 
            Trym manages recurring services. It identifies and tracks expenses, and alerts you of changes. Trym simplifies this experience so you may cancel or modify your service before the next billing cycle.
        
      .row.about-page-section
        .col-lg-2.col-md-3.about-page-section-header
          %a{ name: "security" }
          %strong How does trym keep my personal information secure?
        .col-lg-10.col-md-9
          %p 
            All information held by trym is stored on restricted database servers housed in a secure facility with strict access control.
          %p
            As for network security, we only allow traffic to and from trym using strong TLS protocols and ciphers. While using trym, your secure connection is encrypted and certified by the Comodo Group, the largest SSL certificate provider in the world. To further your protection, we partner with 
            %a{ href: "https://www.plaid.com/security/"} Plaid Technologies
            to link to financial institutions in a highly secure way.
          %p 
            If you have any questions or concerns about privacy or security, please contact us at
            %a{ href: 'mailto:infosec@trym.io'} infosec@trym.

      .row.about-page-section
        .col-lg-2.col-md-3.about-page-section-header
          %strong How much does trym cost?
        .col-lg-10.col-md-9
          %p Nothing, trym is 100% free for users.

      .row.about-page-section
        .col-lg-2.col-md-3.about-page-section-header
          %strong How does trym make money?
        .col-lg-10.col-md-9
          %p 
            We partner with service providers to offer you better deals on services than you already use, or gives providers a chance to lower their prices to you before you cancel or downgrade them. Trym will never partner with service providers in ways that prevent you from learning about better deals with other providers or make it more difficult for you to manage or cancel a service.
      
      .row.about-page-section
        .col-lg-2.col-md-3.about-page-section-header
          %strong What information does trym require to cancel or modify my services?
        .col-lg-10.col-md-9
          %p 
            This depends on who your service provider is. Often we'll need the account name, your address, and maybe something like the last four digits of your social security number. In any case, we’ll let you know what information is required by that merchant immediately upon your request to modify a service.

      .row.about-page-section
        .col-lg-2.col-md-3.about-page-section-header
          %strong Why should I link accounts to Trym?
        .col-lg-10.col-md-9
          %p            
            Linking accounts is optional, but one of the benefits of trym is helping you locate which of your expenses may be recurring. People commonly forget about one or more expenses, and if you link your accounts trym can help you find expenses you may have forgotten about.

      .row.about-page-section
        .col-lg-2.col-md-3.about-page-section-header
          %strong If I link a credit card how does trym know which of my expenses are recurring?
        .col-lg-10.col-md-9
          %p 
            To determine expense recurrance, trym uses factors such as merchant name, timing and amount of the payments to each merchant, and how long ago the last expense occurred to generate a likeliness of recurring score. Factors which are contributing to each expense on the 
            =link_to 'view all expenses page', search_charges_path
            under linked accounts.

      .row.about-page-section
        .col-lg-2.col-md-3.about-page-section-header
          %strong How can I link my accounts to trym?
        .col-lg-10.col-md-9
          %p 
            At the top of the main page, click on "Linked Accounts," where you'll see a list of the financial institutions that can currently be linked with trym. Once you click link, you’ll be asked to provide the username and password that you use to access the financial institution online.
          %p 
            The list of linkable financial institutions is always growing, so if your bank isn't currently listed, check back soon. In the meantime, you can manually input any known charge for trym to track, modify, or cancel.

      .row.about-page-section
        .col-lg-2.col-md-3.about-page-section-header
          %strong What if I forgot my login information?

        .col-lg-10.col-md-9
          %p 
            We’ve all been there. Just click 
            =link_to "sign in", new_user_session_path
            at the top of the page, and you’ll see a prompt with a forgot password link at the bottom. You’ll be asked for your email address, and we’ll send you instructions on how to reset your password.

      .row.about-page-section
        .col-lg-2.col-md-3.about-page-section-header
          %strong How do I contact you?
        .col-lg-10.col-md-9
          %p 
            Send us an email at 
            %a{href: "mailto:support@trym.io"} support@trym.io 
            and we’ll get back to you ASAP.

      .paragraph-spacer