
.container-fluid#about-banner
  .paragraph-spacer
  %h1.text-center
    Hi, I'm Trym
  %p.lead.text-center
    My job is to make all your recurring expenses less expensive and way less annoying
  .paragraph-spacer

.container
  .row
    .col-md-10.col-sm-12
      %h3 
        What is Trym?
        %a.anchorjs-link#what-is-trym{href: "#what-is-trym", style: "margin-top: -50px; padding-top: 50px;"}
          %i.fa.fa-rocket
      %p 
        Trym is an interface for all of the recurring services in your life.  It helps you manage them or cancel any service with just a few clicks.  It also helps you realize when things cost more than they should, or when you can get a better deal somewhere else by notifiying you when the price you're paying goes up, or by telling you when someone else is offering a better deal.  
      -if current_user.present?
        %p
          =link_to "Click here", turn_on_intro_account_details_path
          to revisit the site walkthrough you had when you first created your account.

      
      %h3 
        How much does Trym cost?
        %a.anchorjs-link#whats-it-cost{href: "#whats-it-cost", style: "margin-top: -50px; padding-top: 50px;"}
          %i.fa.fa-rocket      
      %p Trym is and always will be 100% free.

      %h3 
        How does Trym make money?
        %a.anchorjs-link#show-me-the-money{href: "#show-me-the-money", style: "margin-top: -50px; padding-top: 50px;"}
          %i.fa.fa-rocket
      %p 
        We partner with service providers to offer you better deals on services than you already use, or by giving services a chance to lower their prices to you before you cancel or downgrade them.  Trym will never partner with service providers in ways that prevent you from learning about better deals with other providers, or to make it harder for you to manage or cancel a service.

      %h3 
        What information does Trym require to cancel or modify my services?
        %a.anchorjs-link#info-requirements{href: "#info-requirements", style: "margin-top: -50px; padding-top: 50px;"}
          %i.fa.fa-rocket
      %p 
        This depends on who your service provider is. Often we'll need the account name, your address, and maybe something like the last four digits of your social security number. In any case, we’ll let you know what information is required by that merchant immediately upon your request to modify a service.

      %h3 
        How does Trym keep my personal information secure?
        %a.anchorjs-link#info-sec{href: "#info-sec", style: "margin-top: -50px; padding-top: 50px;"}
          %i.fa.fa-rocket
      %p 
        Trym takes your security and privacy very seriously. We will never sell your personal data to anyone or share it without your explicit consent. All information you exchange with Trym.io is encrypted.
        %ul
          %li The “https” indicator in your browser’s address bar is your signal that encryption is working and active.
          %li Trym stores your sensitive information securely and will never sell your personal data to anyone.
      %p 
        If you have any questions or concerns about privacy or security, please contact us at 
        %a{ href: 'mailto:infosec@trym.io'} infosec@trym.

      %h3 
        If I link a credit card how does Trym know which of my expenses are recurring?
        %a.anchorjs-link#recurring-score{href: "#recurring-score", style: "margin-top: -50px; padding-top: 50px;"}
          %i.fa.fa-rocket
      %p 
        Trym factors in the merchant name, timing and amount of the payments to each merchant, and how long ago the last charge occurred. We show you these factors on the All expenses tab of My expenses. 

      %h3 
        How can I link my accounts to Trym?
        %a.anchorjs-link#link-accounts{href: "#link-accounts", style: "margin-top: -50px; padding-top: 50px;"}
          %i.fa.fa-rocket
      %p 
        Under the My expenses page, simply click Linked Accounts to see a list of the financial institutions that can currently be linked. Once you click link, you’ll be asked to provide your username and password for the financial institution.
      %p 
        This list is always growing, so be sure to check back regularly if your bank isn’t currently listed. In the meantime, you can manually input any known recurring expenses from the My expenses page.

      %h3 
        What if I forgot my login information?
        %a.anchorjs-link#forgot-login{href: "#forgot-login", style: "margin-top: -50px; padding-top: 50px;"}
          %i.fa.fa-rocket

      %p 
        We’ve all been there. Just click sign in at the top of the page, and you’ll see a prompt with a forgot password link at the bottom. You’ll be asked for your email address, and we’ll send you instructions on how to reset your password. 

      %h3 
        How do I contact you?
        %a.anchorjs-link#contact-info{href: "#contact-info", style: "margin-top: -50px; padding-top: 50px;"}
          %i.fa.fa-rocket
      %p 
        Send us an email at 
        %a{href: "mailto:support@trym.io"} support@trym.io 
        and we’ll get back to you ASAP.

      .paragraph-spacer{style: "margin-bottom:200px;"}

    %nav.col-md-2.about-sidebar.hidden-xs.hidden-sm
      %ul#sidebar.nav.nav-stacked.fixed
        %li
          %a{:href => "#what-is-trym"} What is Trym?
          / %ul.nav.nav-stacked
          /   %li
          /     %a{:href => "#GroupASub1"} Sub-Group 1
          /   %li
          /     %a{:href => "#GroupASub2"} Sub-Group 2
        %li
          %a{:href => "#whats-it-cost"} How much does Trym cost?
        %li
          %a{:href => "#show-me-the-money"} How does Trym make money?
        %li
          %a{href: "#info-requirements"} What information does Trym require to cancel or modify my services?
        %li
          %a{href: "#info-sec"} How does Trym keep my personal information secure?
        %li
          %a{href: "#recurring-score"} If I link a credit card how does Trym know which of my expenses are recurring?
        %li
          %a{href: "#link-accounts"} How can I link my accounts to Trym?
        %li
          %a{href: "#forgot-login"} What if I forgot my login information?
        %li
          %a{href: "#contact-info"} How do I contact you?
