.row
  =render "static_pages/landing/land"
  .col-xs-12#landing-slide-one
    =render "static_pages/landing/slide_one"
  .col-xs-12#landing-slide-two
    =render "static_pages/landing/slide_two"
  .col-xs-12#landing-slide-three
    =render "static_pages/landing/slide_three"
  .col-xs-12#landing-slide-four
    =render "static_pages/landing/slide_four"
  .col-xs-12#landing-slide-five
    =render "static_pages/landing/slide_five"
  .col-xs-12#landing-footer
    =render "static_pages/landing/footer"