.container-fluid#legal
  =render 'about_links', about_greeting: "Privacy Policy", active: "privacy"
  .row
    .col-lg-8.col-lg-offset-2.col-xs-10.col-xs-offset-1
      %h5.about-page-section
        Last updated June 14, 2015
      %p.about-page-section
        %strong 
          This policy is important, read it carefully: 
        This Privacy Policy (“Policy”) describes Trym, LLC’s (“Trym”, “we” or “us”) collection, use, disclosure and protection of your personal information collected or provided through our website at www.trym.io (the “Site”), and how we use personal information in connection with our services offered through the Site (“Services”). 
      %p.strong
        By accessing and using the site, or providing us your personal information, you consent to the privacy practices in this policy and agree to be bound by our terms of use found at www.trym.io/legal. if you do not agree with any term in this policy, please do not provide us your personal information or use the site. 

      %h5.about-page-section 
        1. Personal Information 
      %p 
        Personal information is information that specifically identifies you, an individual. Examples of personal information include name, social security number, postal address, email address, phone number and credit account information. However, personal information does not include information that is anonymous, aggregated or is otherwise no longer identifiable to you.
      
      %h5.about-page-section 
        2. Information We Collect 
      %p
        We collect the following categories of personal information about you through the Site and your use of our Services: 
        %ul
          %li Registration information. When you first activate or register for a Trym user account, you will be asked for basic information such as name, email address and password.
          %li Verification information. You may also be asked to provide additional information to confirm your identity such as postal address, phone number and portions of your social security number.
          %li Financial account information. For certain Services, including our credit account cancellation service, you will be required to provide us the account number of the credit account you wish to cancel, including such information as a credit card’s expiration date and security code.
          %li Third-party credentials.  When you link a financial account to your Trym user account, you will be required to enter in certain usernames, passwords and other account information for third-party sites (“Third-party Sites”).
          %li Information from Third-party Sites. After linking a financial account to your Trym user account, we or our third-party service providers collect, on your behalf, information from Third-party Sites. For example, if you link your American Express account with us, we or our third-party service provider will aggregate and analyze your American Express transaction data and present it to you via our Site.
          %li Technical information. We collect information about your interaction with our Site and use of our Services such as web browser and/or device type, pages visited, content you view or otherwise interact with, IP addresses and date and time logs of your visits to our Site. We gather this information from all Trym users, not just you.
          %li Other information. We may request or receive other personal information such as feedback, questions, comments, suggestions or ideas to provide you with other benefits or to improve our Site and Services. In such instances, you will be given the opportunity to provide or decline to provide that information.
      
      %h5.about-page-section 
        3. How We Use the Information We Collect 
      %p 
        We use your personal information to:
        %ul
          %li fulfill your requests for certain Services and respond to your inquiries about our Services;
          %li analyze Site usage trends and preferences to improve our web design and functionality and to develop new Services or features on our Site;
          %li contact you for administrative purposes relevant to your use of the Services;
          %li perform market research, project planning, product development, troubleshooting, analysis of user behavior, marketing and promotions;
          %li detect and protect against errors, fraud or other criminal activity;
          %li enforce our Terms of Use; and
          %li make all other lawful uses of such information as set forth or described in this Policy.

      %h5.about-page-section 
        4. When We Disclose Information 
      %p 
        We will not, without your permission, sell, publish or share your personal information with any third parties for their marketing purposes.  We may, however, disclose or make available your personal information to third parties in the following circumstances:
        %ul
          %li in response to subpoenas, court orders or legal process or as otherwise required by applicable law;
          %li as necessary to investigate, prevent or defend ourselves against any claims or allegations;
          %li as necessary to take action regarding any violation of our Terms of Use, illegal activities, suspected fraud or situations involving potential threats to the security of our network;
          %li as reasonably necessary for our service providers to provide services to us (e.g., Plaid Technologies, Inc.), provided that such service providers agree to maintain the confidentiality of your personal information; and
          %li in connection with any merger, acquisition, debt financing, sale of assets or similar transactions involving Trym.

      %h5.about-page-section 
        5. Plaid Technologies 
      %p
        Through the Site you have the ability to link your designated financial accounts with your Trym user account. By doing so, you expressly authorize Trym’s third-party service provider, Plaid Technologies, Inc. (“Plaid”), to collect and use certain of your personal information (e.g., bank account login credentials) solely to collect transaction data from your linked financial account and provide such data to Trym for purposes of identifying possible recurring expenses. 
        %strong All use of your information by plaid will be in accordance with plaid’s privacy policy located at www.plaid.com/privacy.

      %h5.about-page-section 
        How We Protect the Information We Collect
      %p 
        We take the security of your information seriously. We use technical and administrative security measures such as firewalls, encryption techniques and authentication procedures, among others, to maintain the security of the information we collect and maintain.
      
      %h5.about-page-section 
        7. Your Choices 
      %p 
        You may, of course, decline to share certain information with us, in which case we may not be able to provide you with further access to the Site or use of our Services. You may update, correct or delete your profile information and preferences at any time by accessing your Trym user account. Please note that while any changes you make will be reflected in active user databases, we may retain all information you submit for backups, archiving, prevention of fraud and abuse, analytics, satisfaction of legal obligations or where we otherwise believe necessary for a legitimate business purpose. 
      
      %h5.about-page-section 
        8. Third-party Services 
      %p 
        We may offer a number of separate products and services offered by third parties advertised to you on our Site and through our Services. These third party offers may be complementary to your use of the Site and may be personalized based on information you provide us, we have collected about you, queries made through the Site or other information. If you choose to use these separate products and services, provide information to the third party or allow the third party to otherwise collect information about you, then their use of your information is subject to the applicable third party’s privacy policy and terms of use. You should review the practices of the third party before deciding to use their service or provide them with any information.
      
      %h5.about-page-section 
        9. How We Use Cookies and Similar Technologies  
      %p 
        To help operate the Site, enhance your experience and collect information about online activity, we may place small data files on your computer or other devices. These data files may be in the form of cookies, pixel tags, local shared objects or other similar technologies. Cookies and similar technologies enable us to personalize the Site and Services for you. These technologies may allow us to store and manage your preferences and settings, measure and analyze how you use our Site and effectiveness of our communications, offer targeted products, programs and services and help us improve our Site, Services and security.
      
      %h5.about-page-section 
        10. Children's Privacy 
      %p 
        Our Site and Services are not directed to children under the age of 13, and we do not knowingly collect personal information from children under the age of 13. If you are under 13 years of age, then please do not use or access the Site or any Services at any time or in any manner.

      %h5.about-page-section 
        11. Do Not Track 
      %p
        Trym does not track its users over time and across third party websites to provide targeted advertising and therefore does not respond to Do Not Track (DNT) signals. To learn more about how DNT works, please visit www.allaboutdnt.com. 

      %h5.about-page-section 
        12. Changes to this Policy 
      %p 
        We may update this Policy periodically. Changes are effective immediately upon posting. The date last revised appears at the top of this Policy.

      %h5.about-page-section 
        13. Our Contact Information 
      %p
        If you have any questions or concerns regarding this Policy, our security practices or our information handling practices, please email us at 
        %a{ href:"mailto:legal@trym.io" } legal@trym.io.

.paragraph-spacer