%canvas#c

:javascript
  var requestAnimationFrame =  
          window.requestAnimationFrame ||
          window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame ||
          window.msRequestAnimationFrame ||
          window.oRequestAnimationFrame ||
          function(callback) {
            return setTimeout(callback, 1);
          };

  function makeHighRes(c) {
      var ctx = c.getContext('2d');
      // finally query the various pixel ratios
      var devicePixelRatio = window.devicePixelRatio || 1;
      var backingStoreRatio = ctx.webkitBackingStorePixelRatio ||
          ctx.mozBackingStorePixelRatio ||
          ctx.msBackingStorePixelRatio ||
          ctx.oBackingStorePixelRatio ||
          ctx.backingStorePixelRatio || 1;
      var ratio = devicePixelRatio / backingStoreRatio;
      // upscale canvas if the two ratios don't match
      if (devicePixelRatio !== backingStoreRatio) {
      
          var oldWidth = c.width;
          var oldHeight = c.height;
          c.width = Math.round(oldWidth * ratio);
          c.height = Math.round(oldHeight * ratio);
          c.style.width = oldWidth + 'px';
          c.style.height = oldHeight + 'px';
          // now scale the context to counter
          // the fact that we've manually scaled
          // our canvas element
          ctx.scale(ratio, ratio);
      }
  }


  //initalize the canvas
  var c_canvas = document.getElementById("c");
  var context = c_canvas.getContext("2d");
  var colors = ["#3a3a3a", "#3c3c3c", "#3f3f3f", "#3b3b3b", "#383838", "#323232", "#323232", "#323232"];
  var randomGridColor = function() {
      return colors[Math.floor(Math.random()*colors.length)];
  }

  makeHighRes(c_canvas);
  context.fillStyle = "#272727";
  context.fillRect(0,0,c_canvas.width,c_canvas.height);

  //draw inital grid
  for (var x = 0.5; x < c_canvas.width; x += 4) {
      for (var y = 0.5; y < c_canvas.height; y += 4) {
        context.fillStyle = randomGridColor();
        context.fillRect(x,y,3,3);
      }
  }

  var highlightCell = function(){
      var currentColor = "#81caa6";
      var x = (3 * Math.round(Math.random() * c_canvas.width / 3))
      var y = (3 * Math.round(Math.random() * c_canvas.height / 3))
      var t = 0
      function blink() {
          if (t < 5){
              t++;
              if(currentColor === "#81caa6"){
                  currentColor = randomGridColor();
              } else {
                  currentColor = "#81caa6";
              }
              context.fillStyle = currentColor;
              context.fillRect(x,y,3,3);
              window.setTimeout(blink(), 1000);
          }
      }
      blink();
  }

  highlightCell();