-@charges = User.first.charges.recurring.select{ |c| c.amount_charged_in_month > 0 }
-@user = User.first
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .paragraph-spacer

    %p.text-center
      %i.fa.fa-tags.recurring-factor.recurring-factor-good
      %i.fa.fa-shopping-cart.recurring-factor.recurring-factor-good
      %i.fa.fa-calendar.recurring-factor.recurring-factor-bad
      %i.fa.fa-usd.recurring-factor.recurring-factor-bad
    
    %div{style: "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:14px; line-height:1.428571429; margin:0"}
      %div{style: "margin:20px auto; padding:5px; width:500px"}
        %div{style: "min-height: 35px;"}
          %div{style: "float:left; min-height:1px; width:50%"}
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
            <rect fill="#81CAA6" width="300" height="300"/>
            <rect x="-77.237" y="-77.238" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -0.001 -7.150824e-005)" fill="#FFFFFF" width="154.473" height="154.475"/>
            <g>
            <path fill="#FFFFFF" d="M156.127,106.247h25.75v18.75h-25.75v80.25c0,9.75,2.75,11.5,16,11.5h9.75v18.75h-16.25c-22,0-30.75-4.5-30.75-28.25v-82.25h-22v-18.75h22v-38.75h21.25V106.247z"/>
            </g>
            </svg>
            %span{style: "font-size:16px; font-weight:500; vertical-align:super;"} Ahoy!
          %div{:align => "right", style: "float:right; min-height:1px; text-align:right; width:50%"}
            %a{:href => "https://trym.io/users/sign_in", style: "background: #81CAA6; color: #FFF; border-radius:4px; border:1px solid #81caa6; display:inline-block; font-size:14px; font-weight:normal; margin-bottom:0; padding:6px 12px; text-align:center; text-decoration: none;"} Sign In
        
        %div      
          %div{style: "text-align:center;"}
            %p{style: "font-size:300%; font-weight:400; line-height:1.4; margin:0 auto;"}
              <span style="color: #81CAA6;">t</span>rym
            %p{style: "font-size:150%; margin:0 auto;"}
              Monthly Summary
            %p{style: "color: gray; font-size:110%; margin:0 0 10px;"}
              =Date.today.strftime("%B %Y")
          
          %div{style: "border-top-color:lightgray; border-top-style:solid; border-top-width:1px; border-bottom-color:lightgray; border-bottom-style:solid; border-bottom-width:1px; margin-bottom:20px; margin-top:20px; padding-top:20px; padding-bottom:20px;"}
            %p{style: "text-align:center;font-weight:200; margin-bottom: 20px; font-size: 110%;"}
              You spent 
              %span{style:"font-weight: 700;"}=number_to_currency( @charges.inject(0.0){ |s, c| s += c.amount_charged_in_month } / 100.0 )
              last month on recurring charges.
            %p{style: "text-align:center; margin: 0 auto; font-weight:200; font-size: 110%;"}
              Thats <span style="font-weight: 700;">$34.51</span> less than in
              ="#{1.month.ago.strftime("%B")}, awesome!"
          
          %div{style: "text-align:center; margin: 20px auto;"}
            %strong Here's who charged you over the past month:
          -@charges.each do |charge|
            %dl
              %dt{style: "clear:left; float:left; margin-left:8px; overflow:hidden; text-align:left; text-overflow:ellipsis; white-space:nowrap; font-weight:400; width: 250px; margin-left: 70px;"}
                ="#{charge.descriptor}"
              %dd{style: "margin-left:280px; text-align:right; width:140px"}
                =number_to_currency charge.amount_charged_in_month / 100.0
                =link_to "stop", new_charge_stop_order_url(charge), style: "vertical-align: bottom; background: #81CAA6; color: #FFF; border-radius:4px; display:inline-block; font-size:11px; font-weight:normal; margin-bottom:0; padding: 2px 4px; text-align:center; text-decoration: none;"

          %div{:align => "left", style: "margin-top:20px; text-align:center; padding-top: 20px; border-top: solid lightgray 1px;"}
            %p{style: "margin:0 0 10px"}
              Click
              =link_to "here", edit_user_registration_path(@user), style: "color: #81CAA6"
              to change how often and how we contact you or reply to this email if you have questions or feedback.
            %p
              Thank you for your membership!
            %small
              ="©2015 Trym, LLC | All Rights Reserved |"
              =link_to "Legal Stuff", legal_path, style: "color: #81CAA6"
              ="| Trym Team HQ, EPA, CA"
              