.well{style: "margin-top: 20px; display: table; width: 100%;"}
  .contact-options.table-cell.vertical-middle-xs
    %p.lead.without-margin.text-left.text-center-xs
      %i.fa.fa-bell-o.block-xs
      %span.block-xxs notification 
      %span.block-xxs preferences
  .preferences.text-center-xxs.table-cell
    .preferences-cell.text-right
      %p.lead.without-margin
        %small.extra-small.text-center-xxs three days before any charge
        %br.hidden-lg.hidden-md.hidden-sm
        %button.btn.btn-primary-o.btn-sm.contact-pref-button{ class: current_user.email_alert ? "active" : "", data: { enabled: current_user.email_alert.to_s, url: contact_preference_path(current_user.id, email_alert: "placeholder"), target: "email"}}
          = current_user.email_alert ? "email" : "do not email"
        -if current_user.phone_verified?
          %button.btn.btn-primary-o.btn-sm.contact-pref-button{ class: current_user.text_alert ? "active" : "", data: { enabled: current_user.text_alert.to_s, url: contact_preference_path(current_user.id, text_alert: "placeholder"), target: "text"}}
            = current_user.text_alert ? "text" : "do not text"
      %p.lead.without-margin{ style: 'margin-top: 10px;'}
        %small.extra-small.text-center-xxs monthly summary of charges
        %br.hidden-lg.hidden-md.hidden-sm
        %button.btn.btn-primary-o.btn-sm.contact-pref-button{ class: current_user.email_summary ? "active" : "", data: { enabled: current_user.email_summary.to_s, url: contact_preference_path(current_user.id, email_summary: "placeholder"), target: "email"}}
          = current_user.email_summary ? "email" : "do not email"
        -if current_user.phone_verified?
          %button.btn.btn-primary-o.btn-sm.contact-pref-button{ class: current_user.text_summary ? "active" : "", data: { enabled: current_user.text_summary.to_s, url: contact_preference_path(current_user.id, text_summary: "placeholder"), target: "text"}}
            = current_user.text_summary ? "text" : "do not text"

:javascript
  function update_pref_button(button) {
    if( button.hasClass('active') ) {
      button.removeClass("active");
      button.text( "do not " + button.data('target') );
    } else {
      button.addClass("active");
      button.text( button.data('target') );
    }
  }

  function get_toggle_pref(button) {
    if( button.hasClass('active') ) {
      return "false"
    } else {
      return "true"
    }
  }

  $(".disabled-contact-pref-button").tooltip({'title':'You must add and verify your phone number before we can text you'});

  $('.contact-pref-button').on('click', function () {
      
      $.ajax({
        url: $(this).data("url").replace( "placeholder", get_toggle_pref($(this)) ),
        type: "PUT",
        success: update_pref_button($(this))
      })

  })