.paragraph-spacer
.item.active
  .flex-center
    .text-center{style: "width: 100%;"}
      .trym-talking
        %p.opener.trym-fade-in
          thanks for your interest
      .trym-fade-in
        %p.lead
          trym is not accepting new users at this time. please check again back soon
        .paragraph-spacer
        .row
          .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1.text-center
            =link_to "sign in", new_user_session_path, class: "btn btn-lg btn-primary-o", style: "width: 49%; float: left;"
            =link_to "learn more", about_path, class: "btn btn-lg btn-primary-o", style: "width: 49%; float: right;"
        .paragraph-spacer
        =render 'shared/security_and_terms'