.row#top-row
	%div.col-md-6.col-xs-8
		.row
			=form_tag search_charges_path, method: :get, remote: true do
				-if @linked_account.present?
					=hidden_field_tag :linked_account_id, @linked_account.id

				.input-group					
					-if @category.present?
						=hidden_field_tag :trym_category_id, @category.id

					=text_field_tag :q, @query, placeholder: "Search#{@category.present? ? ' all' : ''} expenses", class: "form-control"
					%span.input-group-btn
						=submit_tag "Search", class: "btn btn-primary"
	.col-md-3.hidden-xs.hidden-sm.text-center
		%h5
			=paginate @charges, :window => 3, remote: true
	.col-md-3.col-xs-4.text-right
		=link_to charges_path, class: "btn btn-primary" do
			click here when finished
			%i.fa.fa-arrow-circle-right
