.row#top-row
	%div{ class: "col-md-#{paginate(@charges) == '' ? '12' : '8' }" }
		.row
			=form_tag search_charges_path, method: :get, remote: true do
				-if @linked_account.present?
					=hidden_field_tag :linked_account_id, @linked_account.id

				.input-group					
					-if @category.present?
						=hidden_field_tag :trym_category_id, @category.id

					=text_field_tag :q, @query, placeholder: "Search#{@category.present? ? ' all' : ''} charges", class: "form-control"
					%span.input-group-btn
						=submit_tag "Search", class: "btn btn-primary"
	.col-sm-4.hidden-xs.hidden-sm
		.text-right
			%h5
				=paginate @charges, :window => 3, remote: true