%thead
  %tr
    %th.strong.text-center Recurring?
    %th Merchant/Description
    %th Last Charge
    %th Date of Last Charge
    %th Recurs
    %th History
    -unless request.xhr?
      %th Recurring Factors
    %th.hidden-sm.hidden-xs