%thead
  %tr
    %th Merchant/Description
    %th Cost
    %th Last Charge
    %th Recurs
    %th Linked Account
    %th Recurring Factors
    %th.strong.text-center Track?
    %th.hidden-sm.hidden-xs