%tr{class: charge.recurring ? "recurring-row" : "", id: "charge-row-#{charge.id}"}
  %td.merchant-cell{data: {title: "Merchant"}}
    =charge.descriptor
    =link_to "edit", edit_charge_path(charge), remote: true, class: "btn btn-default btn-xs hidden-md hidden-lg"
  %td{data: {title: "Cost"}}
    =number_to_currency(charge.amount_in_currency)
  / %td{data: {title: "Last Charge"}}
  /   .hidden-md=charge.last_billed_date.present? ? (distance_of_time_in_words(charge.last_billed_date.to_time - Time.now) + " ago") : nil
  /   .visible-md-inline=charge.last_billed_date.present? ? charge.last_billed_date.to_time.strftime("%y-%m-%d") : nil
  %td{data: {title: "Recurs"}}
    -if charge.recurring && charge.renewal_period_in_weeks.present? && charge.renewal_period_in_weeks > 0
      =billing_interval_in_words(charge.renewal_period_in_weeks)
  %td{data: {title: "History"}}
    -if charge.transaction_request_id.present? && charge.transaction_request.linked_account.present?
      %a.icon-link.charge-history-popover{tabindex: "0", data: {toggle: "popover", placement: "auto", content: formatted_history(charge.history)} }
        %i.fa.fa-credit-card
        =charge.transaction_request.linked_account.financial_institution.plaid_type
  %td.recurring-factor-cell{data: {title: "Recurring Factors"}}
    =recurring_factors_for(charge)
  %td.text-center{data: {title: "Track this charge?"}}
    %input.lead{ type: "checkbox", name: "track-switch", checked: charge.recurring, data: { charge_id: charge.id, from_link: charge.transaction_request.present? } } 
  %td.text-center.hidden-sm.hidden-xs{style: "padding:8px 4px;"}
    =link_to "edit", edit_charge_path(charge), remote: true, class: "btn btn-default btn-xs"