.modal-dialog.modal-md
  .modal-content.vertical-center
    .modal-body.text-center
      .modal-header-text 
        %h3
          ="We sent you a text message with a confirmation code"
        %p#error-text{ style: "color: red;" }
      = simple_form_for @account_detail, url: verifications_path, remote: true, method: 'post' do |f|
        .form-inputs
          = f.input :confirmation_code, label: "4 Digit Confirmation Number", as: :string, input_html: { value: '' }
        .form-actions{style: "margin-top: 10px;"}
          %button{ type: "button", class: "btn btn-default", data: {dismiss: "modal"} } Cancel
          = f.button :submit, "Continue", class: "btn-primary"

      .text-center{style: "margin-top: 10px;"}
        =link_to edit_account_detail_path(@account_detail), remote: true, class: "icon-link" do
          %i.fa.fa-mobile
          didn't get the text?

:javascript

  $('#account_detail_confirmation_code').formatter({ 'pattern': '{{9999}}' });