.container.text-center
  .row
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      .paragraph-spacer
      .paragraph-spacer
      .paragraph-spacer
      %h3
        ="We sent you a text message with a confirmation code"
      %p#error-text{ style: "color: red;" }
        =@errors
      
      = simple_form_for @account_detail, url: verifications_path, method: 'post' do |f|
        .form-inputs
          = f.input :confirmation_code, label: "4 Digit Confirmation Number", as: :string, input_html: { value: '' }
        .form-actions{style: "margin-top: 10px;"}
          = render 'shared/cancel_button'
          = f.button :submit, "Continue", class: "btn-primary"
      
      .paragraph-spacer
      
      %p.lead.text-center
        =link_to edit_account_detail_path(@account_detail), remote: true, class: "icon-link" do
          %i.fa.fa-mobile
          didn't get the text?

      .paragraph-spacer
      .paragraph-spacer
      .paragraph-spacer

:javascript
  $('#account_detail_confirmation_code').formatter({ 'pattern': '{{9999}}' });