%h2.modal-header-text
  ="Here's what we need to cancel your account at #{@merchant.name}"
%p.lead
  We'll give you a call if we need any other information
.row
  .col-lg-4.col-lg-offset-4
    .form-group  
    =f.simple_fields_for :cancelation_data do |cancelation_datum|
      -@merchant.cancelation_fields.each do |cancelation_field|
        =cancelation_datum.input cancelation_field.to_sym

.row
  .form-group
    = render 'shared/cancel_button'
    = f.button :submit, "Stop this Charge!", class: "btn btn-primary"

%h5#error-reminder{style: "color: red;"}