.paragraph-spacer
.row.well
  #new-trym-request
    .col-lg-4
      %h3
        What service do you want to manage?
        
      %p.lead 
        We can cancel, upgrade, or downgrade your service or find you a better deal on similar services.
    .col-lg-8
      .paragraph-spacer.visible-lg-block
      .paragraph-spacer.visible-lg-block
      =form_for current_user.charges.build, url: create_then_manage_charges_path do |f|
        %h1#new-user-merchant-selection
          =f.select :merchant_id, grouped_options_for_select( TrymCategory.merchant_select )
        .pull-right
          %button.btn.btn-default#disabled-next-button{disabled: "disabled"}
            enter a service provider above to continue
            %i.fa.fa-arrow-circle-right
          =f.button class: "btn btn-primary", id: "enabled-next-button" do 
            continue
            %i.fa.fa-arrow-circle-right


:javascript
  $('#charge_merchant_id').prepend("<option></option>").val(function(){return $('[selected]',this).val() ;})
  $('#charge_merchant_id').select2({
    placeholder: "#{merchant_name_example_helper(@trym_category_id)}",
    width: '100%',
    dropdownCssClass: "new-user-select2-dropdown"
  });

  $('#charge_merchant_id').on("change", function(e) {
    $("#disabled-next-button").hide();
    $("#enabled-next-button").css("display", "inline");
  });

.paragraph-spacer
-if @stop_orders.present?
  %p.lead.text-center
    Trym Request History
  -@stop_orders.each do |s|
    .panel.panel-default.stop-order-item
      =render partial: 'stop_orders/index_item', locals: {stop_order: s}

%p.text-center
  Don't have anything you want to change right now?  No problem! 
  =link_to "Add a recurring expense", new_charge_path, remote: true
  for us to track or
  =link_to "link your accounts", linked_accounts_path
  and we'll find and track your recurring expenses, tell you if we notice a price increase, and find you deals on similar services!