.modal-dialog.modal-lg
  .modal-content
    = simple_form_for @stop_order do |f|
      .modal-body
        .multi-part-form.block1.show
          .row
            .col-xs-12
              %h2.modal-header-text
                A few things to note before we continue:
              %ol                
                %li.lead If you are currently under contract with this merchant, we cannot stop this expense; and
                %li.lead If we are unable to cancel this expense prior to your next recurring charge, we will promptly notify you.
              
              %p.text-center
                ="(We'll try and call you at #{current_user.phone}"
                =link_to "change", edit_account_detail_path(current_user.account_detail), class: "btn btn-xs btn-default"
                if we have any issues)
              
      .modal-footer  
        %span= render 'shared/cancel_button'
        %span.pull-right
          %button.next{ type: "button", class: "btn btn-primary", data: {current_block: "1", next_block: "2"} } Ok, lets do this!

        .multi-part-form.block2.hidden.text-center
          =f.input :charge_id, as: :hidden
          -if @merchant.cancelation_fields.present?
            =render partial: "click_to_cancel", locals: { f: f }
          -else
            =render partial: "call_to_cancel", locals: { f: f }


:javascript
    $('.next').on('click', function () {
    var current = $(this).data('currentBlock');
    var next = $(this).data('nextBlock');
        
    //show the next block
    $('.block' + current).removeClass('show').addClass('hidden');
    $('.block' + next).removeClass('hidden').addClass('show');
    
  });
  