.modal-dialog.modal-lg
  .modal-content.vertical-center
    = simple_form_for @stop_order do |f|
      .modal-body
        .multi-part-form.block1.show
          .row
            .col-xs-12.text-center
              %h2.modal-header-text
                Two things you need to know before we continue
              %p.lead                
                = "1. If you are locked in to a contract we can't cancel for you"
              %p.lead
                = "2. We can't guarantee that we will be able to stop the charge before your next bill, but we'll try to let you know ASAP if we're having trouble"
              %button{ type: "button", class: "btn btn-default", data: {dismiss: "modal"} } Cancel
              %button.next{ type: "button", class: "btn btn-primary", data: {current_block: "1", next_block: "2"} } Ok, lets do this!

        .multi-part-form.block2.hidden.text-center
          =f.input :charge_id, as: :hidden
          =f.input :status, as: :hidden, input_html: {value: "requested"}
          -if @merchant.cancelation_fields.present?
            =render partial: "click_to_cancel", locals: { f: f }
          -else
            =render partial: "call_to_cancel", locals: { f: f }


:javascript
    $('.next').on('click', function () {
    var current = $(this).data('currentBlock');
    var next = $(this).data('nextBlock');
        
    //show the next block
    $('.block' + current).removeClass('show').addClass('hidden');
    $('.block' + next).removeClass('hidden').addClass('show');
    
  });
  