-if stop_order.cancelable?
  =link_to stop_order, class: "btn btn-charge-status" do
    %div
      %i.fa{class: "fa-#{stop_order.option.gsub("_"," ").gsub(" all",'')}"}
    %div
      #{stop_order.option.gsub("_"," ").gsub(" all",'')}
    %div
      in progress