.row
  .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
    %h3.text-center
      Two things to note before we continue
    
    .paragraph-spacer
    
    %ol                
      %li.lead If you are currently under contract with #{@charge.descriptor} we may not be able to modify your account; and
      %li.lead If we are unable to fulfill you request prior to your next recurring charge, we will promptly notify you.

    .row
      .text-center
        %b
          By clicking "I Agree", you hereby authorize Trym to act as your agent to manage this service on your behalf, including in substantially the same way you would do so yourself.

      .paragraph-spacer
    
      .col-lg-2.col-lg-offset-4.col-sm-4.col-sm-offset-2.col-xs-6
        =link_to "Back", previous_wizard_path, class: "btn btn-default btn-block"
      .col-lg-2.col-sm-4.col-xs-6
        =link_to "I Agree", next_wizard_path, class: "btn btn-primary btn-block"