.row
  .col-lg-6.col-lg-offset-3.col-md-10.col-md-offset-1.col-xs-12

    %div{style: "padding-left:5px; padding-right: 5px;"}
      %h3.text-center
        How can we help you manage your #{@stop_order.charge.descriptor} account?
        %br
        %small as always trym is 100% free
      .paragraph-spacer
      =form_for @stop_order, url: wizard_path, method: :put, html: {style: "width: 350px; margin: 0 auto;"} do |f|

        %h4
          .radio
            %label
              =f.radio_button :option, "cancel_all"
              Cancel my account / service
        %h4     
          .radio
            %label
              =f.radio_button :option, "downgrade"
              Downgrade or cancel part of my service 
        %h4
          .radio
            %label
              =f.radio_button :option, "upgrade"
              Upgrade or add services to my account
        %h4
          .radio
            %label
              =f.radio_button :option, "find_deals"
              Find me a better deal
              %a#deals-tooltip{href: "#", data: {toggle: "tooltip", title: "Have our team research better deals from #{@stop_order.charge.descriptor} and similar services and send you some reccomendations.  If you like what you see we will also help you make the change"}} 
                %i.fa.fa-question-circle


        .paragraph-spacer

        .row
          .col-xs-6.text-right  
            =link_to "Back", stop_order_path(@stop_order.id), method: :delete, class: "btn btn-default"
          .col-xs-6.text-left
            =f.button "Next", class: "btn btn-primary"

:javascript
  $('[data-toggle="tooltip"]').tooltip()