.row
  .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
    #account-detail-form.text-center
      %h4.text-center
        What's your name and mobile phone number?
        %br
        %small We'll send you a text message to verify your phone number
      
    %a.icon-link#account-data-explain-tooltip{data: {toggle: "tooltip"}}
      Why do we need this?
    =render 'account_details/inline_form'

  .hidden
    =link_to "next", next_wizard_path, class: "hidden", id: "after-verification-link"