-btn_size ||= ''
-if controller.request.format.js?
	%button.btn.btn-default{ type: "button", class: btn_size, data: {dismiss: "modal"} } Cancel
-else
	=link_to "cancel", :back, class: "btn btn-default #{btn_size}"