#charge-list-script
  :javascript
  
    $("[name='track-switch']").change( function() {
      
      var state = $(this).is(":checked")
      
      if( state ) {
        var cat_id = "#{@category.present? ? @category.id : ''}";
        var charge_params = { charge: { recurring: state, trym_category_id: cat_id }, scan: "scan", view_all: "#{ @view_all ? 'true' : 'false' }" };
      } else {
        var charge_params = { recurring: state };
        
        if( $(this).data("from-link") ){
          charge_params =  $.extend( charge_params, { trym_category_id: '' } );
        }
        
        var charge_params = { charge: charge_params, scan: "scan", view_all: "#{ @view_all ? 'true' : 'false' }" };
      }
      
      $.ajax({
        type: "PUT",
        url: "/charges/" + $(this).data("charge-id"),
        data: charge_params,
        dataType: "script"
      })
    });
    
    $('[data-toggle="tooltip"]').tooltip()
    $('[data-toggle="popover"]').popover({html: true, trigger: 'focus', title: "<i class='fa fa-calendar'></i> Charge History"});