.charge-list-script
  :javascript
    $('[data-toggle="popover"]').popover({html: true, trigger: 'focus', title: "<i class='fa fa-calendar'></i> Charge History"});
  
    $("[name='track-switch']").change( function() {
      
      var state = $(this).is(":checked")
      
      if( state ) {
        var cat_id = "#{@category.present? ? @category.id : ''}";
        var charge_params = { charge: { recurring: state, trym_category_id: cat_id }, scan: "scan", view_all: "#{ @view_all ? 'true' : 'false' }" };
      } else {
        var charge_params = { charge: { recurring: state, trym_category_id: '' }, scan: "scan", view_all: "#{ @view_all ? 'true' : 'false' }" };
      }
      
      $.ajax({
        type: "PUT",
        url: "/charges/" + $(this).data("charge-id"),
        data: charge_params,
        dataType: "script"
      })
    });
    
    $('[data-toggle="popover"]').popover({html: true, trigger: 'focus', title: "<i class='fa fa-calendar'></i> Charge History"});
