.well.charge-item{class: "merchant-#{charge.descriptor.downcase.gsub(/\W/, '')}", id: "charge-item-#{charge.id.present? ? charge.id : 'new'}" }
  .charge-info-container
    -if (charge.amount.present? && charge.amount > 0) || (charge.renewal_period_in_weeks.present? && charge.renewal_period_in_weeks > 0) || charge.history.present?
      .charge-info.charge-amount.text-center{style: "padding-right: 10px;"}      
        -if charge.amount.present? && charge.amount > 0
          .charge-lead
            %p=number_to_currency(charge.amount_in_currency)
        
        -if charge.renewal_period_in_weeks.present? && charge.renewal_period_in_weeks > 0
          %p.without-margin
            =billing_interval_in_words(charge.renewal_period_in_weeks)
        -if charge.history.present?
          .small
            %a.icon-link{tabindex: "0", data: {toggle: "popover", content: formatted_history(charge.history)} }
              %i.fa.fa-calendar
              history
              
    .charge-info.charge-description.text-left
      -if charge.merchant.present? && charge.merchant.name.present?
        .charge-lead
          %p=charge.merchant.name

      %p.without-margin.small
        %span.small-gray
          -if charge.next_billing_date.present?
            %i.fa.fa-clock-o.hidden-md
            =time_to_next_bill(charge.next_billing_date)
          -elsif charge.billing_day.present?
            %i.fa.fa-clock-o.hidden-md
            ="last charge " + (distance_of_time_in_words charge.billing_day.to_time - Time.now) + " ago"
      %p.charge-descriptor
        =charge.smart_description
    
    .charge-info.charge-buttons.text-center      
      -if stop_order_charge_ids.include?(charge.id)
        =render partial: "stop_orders/show", locals: {stop_order: charge.active_stop_order}
      -else        
        .btn-group-vertical.text-center{role: "group", style: "width: 100%"}
          // Oh dear god this is so ugly
          =link_to stop_orders_path(charge_id: charge.id, option: "cancel_all"), method: :post, class: "btn btn-charge", style: "border-top-right-radius: 3px;" do
            %i.fa.fa-stop
            cancel
          .btn-group
            %button.btn.btn-charge{style: "border-bottom-right-radius: 3px; border-top: 1px solid rgb(231, 231, 231);", data: {toggle: "dropdown"}} 
              modify
              %span.caret
            %ul.dropdown-menu.dropdown-menu-right
              %li              
                =link_to stop_orders_path(charge_id: charge.id, option: "upgrade"), method: :post do
                  %i.fa.fa-upgrade
                  upgrade
              %li
                =link_to stop_orders_path(charge_id: charge.id, option: "downgrade"), method: :post do
                  %i.fa.fa-downgrade
                  downgrade
              %li
                =link_to edit_charge_path(charge), remote: true do
                  %i.fa.fa-edit
                  edit expense info