.row#linked-account-index
  -FinancialInstitution.connect_enabled.in_groups_of(4, false) do |institution_group|
    .col-md-6
      %ul.list-group.wizard-list-group
        -institution_group.each do |institution|
          -linked_account = current_user.linked_account_at?(institution.id).presence || @linked_account
          %li.list-group-item{ data: { linked_account_id: linked_account.present? ? linked_account.id : nil } }
            .row
              .col-xs-6
                %span.lead=institution.name
              .col-xs-6.text-right
                -if linked_account.present? && linked_account.status != "started"

                  -if linked_account.status == "linked"

                    -if linked_account.error_message.blank?
                      =link_to linked_account, class: "btn btn-primary btn-responsive linked-account-button", data: {user_id: current_user.id} do
                        Linked
                      =link_to unlink_linked_accounts_path(id: linked_account.id), method: :post, class: "btn btn-danger btn-responsive linked-account-button", style: "margin-left: 3px; box-shadow: 1px 1px 1px rgba(0,0,0,0.2)", data: {confirm: "Leaving your account linked to trym allows us to keep track of your recurring payments for you.  Please unlink your account only if you no longer want trym to track this account. To relink it you will need to re-enter your account credentials."} do
                        unlink


                    -else
                      .tooltip-container{ data: {toggle: "tooltip", placement: "left", title: "Message from your account: #{linked_account.error_message}" }}
                        =link_to "click here to retry the Link", new_linked_account_path(financial_institution_id: institution.id), remote: true, class: "btn btn-primary-o btn-responsive linked-account-button" do
                          Needs Attention

                  -elsif linked_account.status == "unlinked"
                    =link_to linked_account, class: "btn btn-warning btn-responsive linked-account-button" do
                      unlinked
                    =link_to "Link", new_linked_account_path(financial_institution_id: institution.id), remote: true, class: "btn btn-primary btn-responsive linked-account-button"


                  -elsif linked_account.status == "mfa"
                    =link_to "Link", new_linked_account_path(financial_institution_id: institution.id), remote: true, class: "btn btn-primary btn-responsive"

                  -else
                    .tooltip-container{ data: {toggle: "tooltip", placement: "left", title: "Trym is #{linked_account.status} data from #{linked_account.account_name} to indentify potentially recurring charges.  This shouldn't take long." }}
                      %a.btn.btn-primary-o.btn-responsive.linked-account-button{disabled: "disabled"}
                        %i.fa.fa-circle-o-notch.fa-spin
                        =linked_account.status

                -else
                  .tooltip-container
                    =link_to "Link", new_linked_account_path(financial_institution_id: institution.id), remote: true, class: "btn btn-primary btn-responsive"
