.row#linked-account-index
  -FinancialInstitution.connect_enabled.in_groups_of(4, false) do |institution_group|   
    .col-md-6
      %ul.list-group.wizard-list-group
        -institution_group.each do |institution|  
          -linked_account = current_user.linked_account_at?(institution.id).presence || @linked_account
          %li.list-group-item{ data: { linked_account_id: linked_account.present? ? linked_account.id : nil } }
            .row
              .col-xs-6
                %span.lead=institution.name
              .col-xs-6.text-right
                -if linked_account.present? && linked_account.status != "started"
                    
                  -if linked_account.status == "linked"
                    
                    -if linked_account.error_message.blank?
                      =link_to linked_account, class: "btn btn-primary-o btn-responsive linked-account-button", data: {user_id: current_user.id} do
                        view account

                    -else
                      .tooltip-container{ data: {toggle: "tooltip", placement: "left", title: "Message from your account: #{linked_account.error_message}" }}
                        
                        =link_to new_linked_account_path(financial_institution_id: institution.id), remote: true, class: "btn btn-primary-o btn-responsive linked-account-button" do
                          Needs Attention

                  -elsif linked_account.status == "unlinked"
                    =link_to linked_account, class: "btn btn-warning btn-responsive linked-account-button" do 
                      unlinked
                    =link_to "Link", new_linked_account_path(financial_institution_id: institution.id), remote: true, class: "btn btn-primary btn-responsive linked-account-button"

                  -elsif linked_account.status == "mfa"
                    =link_to "Link", new_linked_account_path(financial_institution_id: institution.id), remote: true, class: "btn btn-primary btn-responsive"

                  -elsif linked_account.status == "delayed"
                    .tooltip-container{ data: {toggle: "tooltip", placement: "left", title: "#{linked_account.name} is taking longer than normal to respond.  Don't worry we'll send you an email when the process is complete." }}
                      %a.btn.btn-primary-o.btn-responsive.linked-account-button{disabled: "disabled"}
                        %i.fa.fa-clock
                        delayed

                  -else
                    .tooltip-container{ data: {toggle: "tooltip", placement: "left", title: "Trym is #{linked_account.status} data from #{linked_account.account_name} to indentify potentially recurring charges.  This shouldn't take long." }}
                      %a.btn.btn-primary-o.btn-responsive.linked-account-button{disabled: "disabled"}
                        %i.fa.fa-circle-o-notch.fa-spin
                        =linked_account.status

                -else
                  .tooltip-container
                    =link_to "Link", new_linked_account_path(financial_institution_id: institution.id), remote: true, class: "btn btn-primary btn-responsive"