%h2 Want to Link Accounts?

.paragraph-spacer

%p.lead We can <b>securely link</b> trym to some of your <b>credit and bank accounts</b> and automatically <b>scan them for recurring charges</b>.

%ul.wizard-list
	%li
		=render 'shared/security_notice'
	%li
		Trym scans linked accounts every day and alerts you if we find new charges which look recurring
	%li You can always unlink any of your accounts at any time
	%li 
		<b>Linking accounts is optional</b>, if you choose not to link any accounts we'll walk you through adding charges manually

.paragraph-spacer

%p
	%strong.lead
		Do you want trym to link any of your accounts?

.row.charge-wizard-actions
	.col-xs-2
		=link_to "Back", charges_path, class: "btn btn-default"
	.col-xs-10.text-right
		=link_to "Not now", wizard_path(:select_categories), class: "btn btn-primary-o"
		=link_to "Yes, lets link them", next_wizard_path, class: "btn btn-primary"

%div{style: "min-height: 20px;"}