%h2 Link Accounts

%p.lead 
	First tell us which accounts you want us to link.  
	%span.hidden-xs You can link as many as you want.
	If your account is not listed check back soon, we're adding more accounts all the time.

=render 'shared/financial_institutions'

%p.lead 
	When you're done click next and we'll review the charges we found in your account that seem to be recurring.


.row.charge-wizard-actions
	.col-xs-2
		=link_to "Back", (request.referrer.present? && request.referrer.include?('charge_wizards')) ? previous_wizard_path : trym_referrer, class: "btn btn-default"
	.col-xs-10.text-right
		=link_to "Next", next_wizard_path, class: "btn btn-primary"

%div{style: "min-height: 20px;"}

:javascript
	$('[data-toggle="popover"]').popover({
		placement: 'bottom',
		trigger: 'focus',
		html: 'true',
	});