%h2 Uncategorized Charges
%p.lead
  We also found some charges in your linked #{'account'.pluralize current_user.linked_accounts.count} which
  %a#recurring-charge-score-explanation.icon-link{tabindex: "0"}
    seem to be recurring
    %i.fa.fa-question-circle
  but that we could not categorize.  Would you like to track any of these?

.paragraph-spacer

%p.text-center
  We found these
  %a#recurring-charge-score-explanation.icon-link{tabindex: "0"}
    potentially recurring
    %i.fa.fa-question-circle
  charges in your linked #{'account'.pluralize current_user.linked_accounts.count}:

=render 'charges/table/table'  

.paragraph-spacer

.row.charge-wizard-actions
  .col-xs-6
    =link_to "Back", previous_wizard_path, class: "btn btn-default btn-responsive"
  .col-xs-6.text-right
    =link_to "Next", next_wizard_path, class: "btn btn-primary btn-responsive"

%div{style: "min-height: 20px;"}

=render 'shared/charge_item_script'

:javascript
  $("[name='track-switch']").change( function() {
    var state = $(this).is(":checked")

    $.ajax({
      type: "PUT",
      url: "/charges/" + $(this).data("charge-id"),
      data: { charge: { recurring: state, trym_category_id: cat_id }, scan: "scan" },
      dataType: "script"
    })
  });
  
  $('[data-toggle="popover"]').popover({html: true, trigger: 'focus', title: "<i class='fa fa-calendar'></i> Charge History"});
  $('#recurring-charge-score-explanation').popover({
    html: 'true',
    trigger: 'focus',
    placement: 'bottom',
    title: "<div style='text-align: left;'>How do we determine what might be recurring?</div>",
    content: "We look at three things: <ul style='margin-top:5px;'><li>when and how frequent you're charged</li><li>category information from your bank and</li><li>the merchant name</li></ul>  We don't always get this right so if you see something that's clearly wrong please send us an email at <a href='mailto:ai@trym.io'>ai@trym.io</a>."
  });