.paragraph-spacer
.text-center
	%h2 Finished!
	%p.lead
		=link_to "Click here", charges_path
		to review and manage the recurring charges you've added or
		=link_to "go back", :back
		if we missed something along the way.
.paragraph-spacer