.modal-dialog.modal-md
  .modal-content.vertical-center
    .modal-body
	    .col-lg-10.col-offset-lg-1.text-center
	      %h2 
	        Want some help adding a new charge?
	        %br
	        %small we can either walk you through adding some recurring charges or you can quickly add a charge one at a time
	      %span.first-time-input-options
	        %p.lead
	          =link_to charge_wizard(:select_financial_instutitions), remote: true, class: "btn btn-primary-o btn-lg btn-block" do
	            %i.fa.fa-magic
	            walk me through it
	            take a few minutes to find all your recurring charges, even those you may have forgotten about!
	          
	      %span.first-time-input-options
	        %p.lead.without-margin
	          =link_to new_linked_account_path, remote: true, class: "btn btn-primary-o btn-lg btn-block" do
	            %i.fa.fa-plus-circle
	            add charges one at a time
	          %small quickly add a single charge