.modal-dialog.modal-md
  .modal-content.vertical-center
    .modal-body
	    .col-lg-10.col-offset-lg-1.text-center
	      %h2 
	        Want some help linking your accounts?
	        %br
	        %small we can either walk you through link accounts and adding charges or you can quickly link an account and review your scanned charges
	      %span.first-time-input-options
	        %p.lead
	          =link_to new_linked_account_path, class: "btn btn-primary-o btn-lg btn-block" do
	            %i.fa.fa-magic
	            walk me through it
            %small take a few minutes to link your accounts and find all your recurring charges, even some charges you may have forgotten about!
	          
	      %span.first-time-input-options
	        %p.lead.without-margin
	          =link_to new_charge_path, class: "btn btn-primary-o btn-lg btn-block" do
	            %i.fa.fa-plus-circle
	            link a single account
            %small link an account and find your recurring charges without the walkthrough