.modal-dialog.modal-md
  .modal-content.vertical-center
    = simple_form_for(@invite_request) do |f|
      .modal-body.text-center
        %h2 Request an Invite
        %p.lead
          We're still in an invite only beta test, but if you enter your email below we'll put you on the invite list

        = f.error_notification

        .form-inputs
          = f.input :email

        .form-actions
          %button{ type: "button", class: "btn btn-default", data: {dismiss: "modal"} } Cancel
          = f.button :submit, "Request Invite", class: "btn btn-primary"