#home-carousel.carousel.slide{ data: { ride: "carousel", interval: "false" } }
  .carousel-inner{:role => "listbox"}
    =render "invite_land"
    =render "static_pages/landing/slide_one"
    =render "static_pages/landing/slide_two"
    =render "static_pages/landing/slide_three"
    =render "static_pages/landing/slide_four"
    =render "slide_five"

  %a.left.carousel-control.hidden{href: "#home-carousel", role: "button", data: { slide: "prev" } }
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control.hidden{href: "#home-carousel", role: "button", data: { slide: "next" } }
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next