#edit-transation-data-request-loader
  %p.lead
    %i.fa.fa-spinner.fa-spin
    one moment while we tidy things up

.container-fluid#edit-transaction-data-request-container{ style: "opacity: 0;"}
  .text-center
    %h2{style: "height: 114px;"}
      %p.lead{style: "margin-bottom: 10px;"}
        We found 
        %span.brand-blue= "#{pluralize @transaction_data_request.charges.count, 'charge' }"
        in your account. Charges that we think you might want to track are at the top of the page.
        %br
        %small
          select those that you'd like his to track.  you can edit any charges by clicking on the part of it that you want to change.
      =link_to charges_path, class: "btn btn-primary btn-md", id: "submit-edit-transaction-button", style: "z-index: 9999;" do 
        save and continue

  .row{style: "padding: 10px;"}
    -likely_threshold = [5, 3, -999]
    -likely_text = ["these charges look likely to recur", "these charges do not look like they are recurring"]
    -likely_index = 0
    -@transaction_data_request.charges.sort_by_recurring_score.with_merchant.each do |charge|
      -if charge.recurring_score < likely_threshold[likely_index]
        -likely_index += 1
        .col-xs-12.text-center
          %h2.lead
            =likely_text[likely_index-1]
            %br
            %i.fa.fa-angle-double-down

      .col-lg-4.col-md-6.col-xs-12
        =render partial: "shared/charge_item", locals: {charge: charge}

=render "shared/charge_item_script"

:javascript

  $("[name='track-switch']").bootstrapSwitch({
    onText: "Yes",
    offText: "No"
  }).on('switchChange.bootstrapSwitch', function(event, state) {
    var marginState = $(this).parent().css('margin-left')
    if ( marginState == '-48px' || marginState == '0px' ) {
      $.ajax({
        type: "PUT",
        url: "/charges/" + $(this).data("charge-id"),
        data: { charge: { recurring: state }, scan: "scan" },
        dataType: "script"
      })
    }
  });

  $("#edit-transation-data-request-loader").fadeOut("slow", function() {
    $("#edit-transaction-data-request-container").animate({"opacity":1},1000)
  });

  function fixDiv() {
    var $cache = $('#submit-edit-transaction-button');
    if ($(window).scrollTop() > 129)
      $cache.css({
        'position': 'fixed',
        'top': '10px',
        'left': ($(window).width() / 2) - 70
      });
    else
      $cache.css({
        'position': 'relative',
        'top': 'auto',
        'left': 'auto'
      });
  }
  $(window).scroll(fixDiv);
  fixDiv();