.modal-dialog.modal
  .modal-content.vertical-center    
    .modal-body.text-center
      %h2{style: "margin-bottom: 20px;"} Past Account Scans
      - @transaction_data_requests.each do |request|
        %p.lead= link_to "#{request.financial_institution.name} @ #{request.created_at.strftime('%A %B %e, %Y')}", edit_transaction_data_request_path(request)

      
        .text-center{style: "margin-top: 30px;"}
          .inline-block{style: "width: 130px;"}=link_to "cancel", charges_path, class: "btn btn-default btn-lg btn-block"
          .inline-block{style: "width: 130px;"}=link_to "new scan", new_transaction_data_request_path, class: "btn btn-primary btn-lg btn-block", remote: true