@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-switch";
@import "font-awesome";

@import "jquery-ui/datepicker";
@import "jquery_ui_bootstrap";
@import "jquery-ui/autocomplete";

@import "sessions";
@import "charges";
@import "static_pages";
@import "linked_accounts";
@import "verifications";
@import "arrows";

@import "select2";
@import "select2-bootstrap";

$brand-color: rgb(129, 202, 166);

body, p, h1, h2, h3, h4, h5{
	color: rgba(0,0,0,0.7);
}
a{ color: $brand-color; }
a:hover{ 
	color: $brand-color; 
	cursor: pointer;
}
i{ color: $brand-color; }
.fa-inverted{ color: white; }
button:hover > .fa-inverted{ color: $brand-color; }
.brand-color{ color: $brand-color; }
.inline-block{ display: inline-block; }
a.icon-link:hover{ 
	border-bottom: 1px solid $brand-color;
	text-decoration: none;
}
.strong{
	font-weight: bold;
}
i.fa-stack-1x{
	color: white;
}
input{ text-align: center; }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: white;
}
.info-box{
	border: 1px dashed #81caa6;
	border-radius: 5px;
	display: table;
	padding: 3px;
}
.info-box-text{
	display: table-cell;
	text-align: left;
	padding-right: 3px;
}
.info-box:before{
	color: #81caa6;
	display: table-cell;
	content: "\f05a";
	font-family: FontAwesome;
	vertical-align: middle;
	width: 10%;
	text-align: center;
	font-size: 170%;
}
.transparent{ opacity: 0; }
.form-errors{ color: #a94442; }
.input-group-addon, .form-control{ 
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.extra-small{ font-size: 75%; }
.small{ font-size: 85%; }
.kinda-small{ font-size: 95%; }
.small-gray{ color: gray; }
.small-gray:hover{ color: inherit; }
.lg-font{ font-size: 250%; }
.btn-primary{ 
	background-color: $brand-color; 
	border-color: $brand-color;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	i{ color: white; }
}
.label-default{
	background: white;
	color: $brand-color;
	border: $brand-color 1px solid;
}
.label-primary{
	background: $brand-color;
	border: $brand-color 1px solid;
}
.green{ color: green; }
.red{ color: red; }
.disabled-style{
	opacity: 0.7;
}
.disabled-style:hover{ 
	cursor: not-allowed; 
}
.dl-horizontal-left{
	dt{ 
		float: left;
		clear: left;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: left;
		width: 140px;
		margin-left: 8px;
	}
	dd{ 
		text-align: left;
		width: 200px;
		margin-left: 150px;
	}
}
.btn-primary:focus, .btn-primary.focus, .btn-primary:active, 
.btn-primary.active, .open > .btn-primary.dropdown-toggle{
	background-color: $brand-color;
	border-color: $brand-color;
	color: white;
}
.btn-primary:hover{
	background-color: white;
	color: $brand-color;
	border-color: $brand-color;
	i{ color: $brand-color; }
}
.btn-primary-o{
	background-color: transparent;
	border-color: $brand-color;
	color: $brand-color;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-primary-o:focus{ color: $brand-color; }
.btn-primary-o.active:focus{ color: white; }
.btn-primary-o.active, .btn-primary-o:active,
.btn-primary-o:hover{
	background-color: $brand-color;
	color: white;
	i{color: white;}
}
.btn-white{ 
	border-color: white;
	background-color: white; 
	color: $brand-color;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-white:hover{
	background-color: $brand-color;
	color: white;
	border-color: white;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-default{ box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }
.btn:focus, .btn.focus, .btn:active:focus, 
.btn:active.focus, .btn.active:focus, .btn.active.focus{ 
	outline: none; 
}
.btn-danger{ color: white; }
.without-margin{
	margin: 0 !important;
}
.well{ 
	padding: 15px 19px;
	background: transparent; 
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.table-div{ display: table; }
.table-cell{ display: table-cell; }
.vertical-center{ display: table-cell; vertical-align: middle; }
.dashed-border{ border-style: dashed; }

.ui-autocomplete { 
  z-index: 5000 !important; 
}
.ui-datepicker .ui-datepicker-next {
	right: 14px;
}
.popover-list{ margin-left: -20px; }
.popover{ max-width: 400px; }
.tooltip.right .tooltip-inner,
.tooltip.left .tooltip-inner{ 
	text-align: center;
	padding: 2px 4px;
	background-color: white; 
	border: solid 1px lightgray;
}
.tooltip.right .tooltip-arrow{ border-right-color: lightgray; }
.tooltip.left .tooltip-arrow{ border-left-color: lightgray; }

.navbar{ 
	background-color: rgba(255,255,255,0.9);
	border-color: white; 
	text-align: center;
}
.navbar-brand{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
.active-header-link,
.navbar-nav > li > a:hover{ 
	color: $brand-color !important; 
}
.navbar-sign-up-btn{ margin-right: 5px; }
#flash-container{
	position: relative;
	width: 100%;
	display: block;
	.alert{
		width: 100%;
		margin: 0;
		border: none;
		border-radius: 0;
	}
	.alert-info {
		color: white;
		background-color: $brand-color;
	}
}
.select2-container .select2-choice > .select2-chosen {
	margin-right: 0px !important;
}
.select2-search input{ padding: 4px 5px; }
.select2-results{ text-align: center; }

.modal-backdrop{
	background: white;
	opacity: 1 !important;
}
.modal-close-x{ 
	font-weight: 200;
	font-size: 200%;
	position: absolute;
	right: 15px;
}
.modal-dialog{ 
	height: 100%; 
	margin: 0 auto;
	display: table;
}
.modal-md{ width: 400px; }
.modal-content{
	box-shadow: none;
	border: none;
}
.modal-header-text{ margin-bottom: 20px; }
.modal-footer{ border: none; }
@media (max-width: 450px) {
	.block-xxs{ display: block; }
  .hidden-xxs{ display: none !important; }
  .text-center-xxs{ text-align: center !important; }
  .vertical-middle-xxs{ vertical-align: middle; }
}
@media (max-width: 770px) {
	.block-xs{ display: block; }
  .hidden-xs{ display: none !important; }
  .text-center-xs{ text-align: center !important; }
  .vertical-middle-xs{ vertical-align: middle; }
}