@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "jquery-ui/datepicker";
@import "jquery_ui_bootstrap";
@import "jquery-ui/autocomplete";

@import "sessions";
@import "charges";
@import "static_pages";
@import "linked_accounts";
@import "verifications";
@import "arrows";
@import "charge_wizards";
@import "stop_orders/manage_wizard";

@import "select2";
@import "select2-bootstrap";

@import "j_growl_rails/jquery.jgrowl";
@import "bootstro";

$brand-color: rgb(129, 202, 166);

button, a, .btn, a i, button a, .btn i {
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -ms-transition:     all 0.3s ease;
  -o-transition:      all 0.3s ease;
}

body, p, h1, h2, h3, h4, h5{
	color: rgba(0,0,0,0.7);
}
nav, body, .navbar-default{
	background-color: #F0F1F4;
}
a{ color: $brand-color; }
a:hover{ 
	color: $brand-color; 
	cursor: pointer;
}
i{ color: $brand-color; }
.fa-inverted{ color: white; }
.fa-exclamation-circle{ color: #CA8181 }
button:hover > .fa-inverted{ color: $brand-color; }
.brand-color{ color: $brand-color; }
.inline-block{ display: inline-block; }
a.icon-link:hover{ 
	border-bottom: 1px solid $brand-color;
	text-decoration: none;
}
.strong{
	font-weight: bold;
}
i.fa-stack-1x{
	color: white;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: white;
}
.info-box{
	border: 1px dashed #81caa6;
	border-radius: 5px;
	display: table;
	padding: 3px;
}
.info-box-text{
	display: table-cell;
	text-align: left;
	padding-right: 3px;
}
.info-box:before{
	color: #81caa6;
	display: table-cell;
	content: "\f05a";
	font-family: FontAwesome;
	vertical-align: middle;
	width: 10%;
	text-align: center;
	font-size: 170%;
}
.truncate-text{
	text-overflow: ellipsis;
	white-space: nowrap;
}
.transparent{ opacity: 0; }
.form-errors{ color: #a94442; }
.form-control:focus{
	border-color: $brand-color;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(129, 202, 166, 0.6);
}
.select2-dropdown-open{
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.select2-dropdown-open.select2-drop-above .select2-choices,
.select2-container-active .select2-choice, .select2-container-multi.select2-container-active .select2-choices,
.select2-drop-auto-width, .select2-drop.select2-drop-above.select2-drop-active {
  border: none;
  box-shadow: none;
 }
.input-group-addon, .form-control{ 
	box-shadow: none;
}
.red-on-hover:hover{ color: red; }
.extra-small{ font-size: 75%; }
.small{ font-size: 85%; }
.kinda-small{ font-size: 95%; }
.gray{color: gray;}
.small-gray{ color: gray; }
.small-gray:hover{ color: inherit; }
.lg-font{ font-size: 250%; }
.btn-primary{ 
	background-color: $brand-color; 
	border-color: $brand-color;
	box-shadow: none;
	i{ color: white; }
}
.label-primary{i{ color: white; }}
.label-default{
	background: white;
	color: $brand-color;
	border: $brand-color 1px solid;
}
.label-primary{
	background: $brand-color;
	border: $brand-color 1px solid;
}
.green{ color: green; }
.red{ color: red; }
.disabled-style{
	opacity: 0.7;
}
.disabled-style:hover{ 
	cursor: not-allowed; 
}
.dl-horizontal-left{
	dt{ 
		float: left;
		clear: left;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: left;
		width: 140px;
		margin-left: 8px;
	}
	dd{ 
		text-align: left;
		width: 200px;
		margin-left: 150px;
	}
}
.panel{ 
	background-color: transparent;
	border-color: lightgray;
	.panel-heading{
		background-color: transparent;
	}
}
.btn-primary:focus, .btn-primary.focus, .btn-primary:active, 
.btn-primary.active, .open > .btn-primary.dropdown-toggle{
	background-color: $brand-color;
	border-color: $brand-color;
	color: white;
}
.btn-primary:hover{
	background-color: white;
	color: $brand-color;
	border-color: $brand-color;
	i{ color: $brand-color; }
}
.btn-primary-o{
	background-color: white;
	border-color: $brand-color;
	color: $brand-color;
	box-shadow: none;
}
.btn-primary-o:focus{ color: $brand-color; }
.btn-primary-o.active:focus{ color: white; }
.btn-primary-o.active, .btn-primary-o:active,
.btn-primary-o:hover{
	background-color: $brand-color;
	color: white;
	i{color: white;}
}
.btn-white{ 
	border-color: white;
	background-color: white; 
	color: $brand-color;
	box-shadow: none;
}
.btn-white:hover{
	background-color: $brand-color;
	color: white;
	border-color: white;
	box-shadow: none;
}
.btn-default{ box-shadow: none; }
.btn:focus, .btn.focus, .btn:active:focus, 
.btn:active.focus, .btn.active:focus, .btn.active.focus{ 
	outline: none; 
}
.btn-danger{ color: white; }
.without-margin{
	margin: 0 !important;
}
.well{ 
	padding: 15px 19px;
	border-color: lightgray;
	background: transparent; 
	box-shadow: none;
}
.table-div{ display: table; }
.table-cell{ display: table-cell; }
.vertical-center{ display: table-cell; vertical-align: middle; }
.dashed-border{ border-style: dashed; }
.pagination{ margin: 0 auto; }
.vertical-center-container-outer{
	display:table;
	position: absolute;
	height: 100%;
	width: 100%;
}
.vertical-center-container-inner{
	display: table-cell;
	vertical-align: middle;
}
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus{
	background-color: $brand-color;
}
.tooltip-container{ display: inline-block; }
.ui-autocomplete { 
  z-index: 5000 !important; 
}
abbr[title], abbr[data-original-title] {
	cursor: default;
	border-bottom: none
}
.ui-datepicker .ui-datepicker-next {
	right: 14px;
}
.popover-list{ margin-left: -20px; }
.popover{ 
	max-width: 400px; 
	z-index: 99999;
}
#security-notice.popover{ max-width: 600px; }

.navbar{ 
	border-bottom: 1px solid lightgray;
	text-align: center;
}
.navbar-nav > li > a > .header-icon{
	color: inherit;
}
.active-header-link,
.navbar-nav > li > a:hover{ 
	color: $brand-color !important;
	.header-icon{
		color: $brand-color;
	} 
}
.navbar-brand{ padding: 13px 15px; }
.navbar-sign-up-btn{ margin-right: 5px; }
.flash-container{
	position: relative;
	width: 100%;
	z-index: 1031;
	display: block;
	.alert{
		width: 100%;
		margin: 0;
		border: none;
		border-radius: 0;
		button.close{
			margin-top: -8px;
			span.close-icon{
				font-size: 150%; font-weight: 200;
			}
		}
	}
	.alert-info {
		color: white;
		background-color: $brand-color;
	}
}
.centered-select2 .select2-container .select2-choice > .select2-chosen {
	margin-right: 0px !important;
}
.centered-select2 .select2-search input{ padding: 4px 5px; }
.centered-select2 .select2-results{ text-align: center; }
#loading-cover{
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}
.modal-content{ background: #F0F1F4 }
.modal-backdrop.in {
  opacity: 0.8;
 }
.modal-close-x{ 
	font-weight: 200;
	font-size: 200%;
	position: absolute;
	right: 15px;
}
.fixed {
    position: fixed;
}
.horizontal-form-group{
	margin-bottom: 10px;
}
.footer-icon{ vertical-align: middle;}

.jGrowl.top-right {
  top: 50px;
}
.jGrowl .jGrowl-notification {
	background-color: white;
}
.ui-state-highlight{
	color: black;
	border-color: #C0E0D0;
	a{ color: $brand-color; }
}
.ajax-opt-group{
	margin-left: -7px;
}

@media (min-width: 768px) {
	.form-horizontal .control-label{ padding-top: 0px; }
 	.lead-checkbox{ margin-top: 7px !important; }
}

@media (max-width: 450px) {
	.block-xxs{ display: block; }
  .hidden-xxs{ display: none !important; }
  .text-center-xxs{ text-align: center !important; }
  .vertical-middle-xxs{ vertical-align: middle; }
}
@media (max-width: 767px) {
	.block-xs{ display: block; }
  .hidden-xs{ display: none !important; }
  .text-center-xs{ text-align: center !important; }
  .vertical-middle-xs{ vertical-align: middle; }
  .btn-responsive {
    padding:6px 12px;
    font-size:90%;
    line-height: 1.2;
  }
}