$brand-color: #5dc38e;

#charges-index{
	#content{
		.jspPane .row{
			padding: 0px 7px 10px 1px;
		}
	}
}

#merchant-disclaimer{
  position: absolute;
  padding-top: 15px;
  padding-bottom: 5px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 9999;
  opacity: 0;
  p{
	  color: white;
	  text-align: center;
	}
}
#no-charge-options-container{
	.btn{
		min-height: 72px;
	}
}
.charge-item{ 
	height: 95px; 
	width: 100%;
	padding: 0px 0px 0px 5px !important; 
}
.charge-info-container{
	display: table;
	height: 100%;
	width: 100%;
	table-layout: fixed;
	float: right;
}
.charge-info{ 
	vertical-align: middle;
	display: table-cell; 
	height: 100%;
}
form#new_charge{
	.btn{ min-width: 70px; }
}
.popover-title{ text-align: center; }
.charge-amount{ 
	overflow: hidden;
	width: 85px; 
}
.charge-description{ 
	width: auto; 
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0px 5px;
}
.charge-buttons{ 
	width: 100px;	
	padding-left: 5px;
	.btn-charge-status{
		color: #9B9B9B;
	}
	.btn-charge-status:hover{
		color: $brand-color;
		i{ color: $brand-color; }
	}
	.fa-cancel{ @extend .fa-stop; }
	.fa-upgrade{ @extend .fa-level-up; }
	.fa-downgrade{ @extend .fa-level-down; }
}
.charge-buttons .btn-charge{ 
	height: 48px;
  background-color: #f5f5f5;
  padding: 14px 11px;
  font-weight: bold;
  color: #9B9B9B;
  border: none;
  border-left: 1px solid rgb(231, 231, 231);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.charge-buttons .btn-charge:hover{
	background-color: #ffffff;
}
.charge-actions{ margin-top: 3px; }
.scrollable{ overflow: auto; }
.hover-glow{ 
	box-shadow: 2px 2px 5px rgba(12, 118, 66, 0.31) !important;
	border: 1px solid #81caa6;
}
.first-time-input-options {
	margin: 10px;
	display: inline-block;
	width: 415px;
}
#charge_renewal_period_in_words{
	margin-bottom: 15px;
	display: inline-block;
	float: left;
}
#charge_renewal_period_in_weeks{ 
	float: left;
	display: none;
	width: 70%; 
}
.charge-history-container{
	max-height: 275px;
	overflow: auto;
}
.charge-history-left{
	width: 100px;
	color: gray;
	text-align: right;
	display: inline-block;
}
.charge-history-right{
	width: 70px;
	color: gray;
	text-align: right;
	display: inline-block;
}

label[for=charge_renewal_period_in_words]{
	display: block;
}
.charge-btn-responsive{ @extend .btn-lg; }
#linked-account-heading{ margin: 20px 5px 5px 5px; }

.charge-item-action-buttons{ min-width: 70px; }

#search-charges-field{  text-indent: -38px;  }
#search-charges-field::-webkit-input-placeholder { /* WebKit browsers */
  text-indent: 8px; 
}
#search-charges-field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   text-indent: 8px; 
}
#search-charges-field::-moz-placeholder { /* Mozilla Firefox 19+ */
   text-indent: 8px; 
}
#search-charges-field:-ms-input-placeholder { /* Internet Explorer 10+ */
   text-indent: 8px; 
}
.charge-lead{
	height: 25px;
}
.charge-lead p{ 
	font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
	margin: 0 auto;
}
.charge-lead p:hover{
	position: relative;
	z-index: 1;
	background-color: #fff;
	display: inline-block;
}
.charge-descriptor{ margin: 0 auto; }

.recurring-factor{
	text-align: center;
	font-size: 90%;
	border-radius: 5px;
	width: 23px; height: 23px;
	padding: 5px 0px;
	color: white !important;
}
.fa-building.recurring-factor{ padding-left: 1px; }
.recurring-factor-good{ background-color: $brand-color; }
.recurring-factor-bad{ background-color: darkgray; }
#charges-outlook{ 
	padding-top: 15px;
}

// customizing select2 input on new user prompt
#new-user-merchant-selection{
	margin-top: 30px;
	.select2-container .select2-choice{
		height: 45px;
		border-top: none;
		border-right: none;
		border-left: none;
		box-shadow: none;
		border-radius: 0px;
		border-bottom: 1px solid black;
		background-color: transparent;
		.select2-arrow{
			background: transparent;
			padding-left: 10px;
			width: auto;
			top: 12px;
			b{
				background: none;
				font: normal normal normal 14px/1 FontAwesome;
			}
			b:before{
				font-size: 2em;
				content: "\f0d7";
			}
		}
	}
}
.new-user-select2-dropdown{
	.select2-results .select2-no-results, 
	.select2-results .select2-searching, 
	.select2-results .select2-selection-limit{
		background-color: white;
		color: darkgray;
	}
}
#enabled-next-button{
	display: none;
}

#new-user-link-text{
	width: 100%;
}

#charge-index-pills > li > a{ border: 1px solid transparent }
#charge-index-pills > li > a:hover{ background-color: white; }
#charge-index-pills > li.active > a{ border: 1px solid $brand-color }
#charge-index-pills > li.active > a:hover{ color: $brand-color; border: 1px solid $brand-color }

@media (min-width: 1200px) {
	#new-user-merchant-selection{ margin-left: 20px; }
}
@media (min-width: 1200px) and (min-height: 600px) {
	#new-user-link-text{
		position: absolute;
		bottom: 100px;
		margin-top: 0px;
	}
}

@media (min-width: 768px) {
	.charge-lead{ font-size: 18px; }
	#new-charge-links{ margin-top: 6px; }
	#charges-outlook{ padding-left: 15px; }
	#linked-account-side-list{
		padding: 5px 20px;
	}
}
@media (max-width: 767px) {
	#new-user-merchant-selection{
	  font-size: 16px;
		.select2-container .select2-choice{
			height: 34px;
			.select2-arrow{
				padding-left: 2px;
				top: 12px;
				b:before{
					font-size: 1em;
				}
			}
		}
	}
	.charge-descriptor{ font-size: 90%; }
	.charge-lead{ font-size: 15px; }
	#new-charge-links{ margin-top: 2px; }
	#charges-outlook{ 
		padding-left: 0px; 
		padding-right: 0px; 
	}
	#linked-account-heading{ 
		text-align: center; 
		margin: 20px auto 5px auto;
	}
	#charge-index-pills-container{ text-align: center; }
	#charge-index-pills{ display: inline-block; }
	#charge-index-pills > li > a {
	  padding: 5px 5px;
	  font-size: smaller;
	}
}


//TABLE STUFF
#top-row{
	margin-top: 20px;
	padding: 0px 25px;
}
@media only screen and (min-width: 992px) {
	#charge-table{ margin-top: 20px; }
	.recurring-factor-cell{
		padding:7px 8px;
	}
	.recurring-row{
		font-weight: bold;
		border-left: 5px solid $brand-color;
	}	
	.merchant-cell{
	  max-width: 200px;
	  overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;	
  }
}

@media only screen and (max-width: 991px) {
	.merchant-cell{
  	background-color: #81CAA6;
  	color: white;
	}
	/* Force table to not be like tables anymore */
	#charge-table table, 
	#charge-table thead, 
	#charge-table tbody, 
	#charge-table th, 
	#charge-table td, 
	#charge-table tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#charge-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#charge-table tr { 
		border: 1px solid lightgray; 
		margin: 10px;
	}
 
	#charge-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
		min-height: 37px;
	}
 
	#charge-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/

	#charge-table td:before { content: attr(data-title); }
}