// Place all the styles related to the ChargeWizards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.charge-wizard-actions{
	padding-top: 10px;
	margin-top: 15px;
	border-top: 1px solid #E4E3E3;
}

.paragraph-spacer{
	min-height: 20px;
}

.wizard-list > li{
	margin: 5px auto;
}

.wizard-list-group > .list-group-item{ 
	min-height: 55px;
}

.wizard-checkbox{
	margin: 15px auto !important;
}

#recurring-charge-score-explanation:hover{
	cursor: pointer;
}

@media (max-width: 770px) {
	.wizard-list-group > .list-group-item{ 
		min-height: 35px;
		.btn{ margin-top: -3px; }
	}
}
