$brand-color: rgb(129, 202, 166);

.charge-item{ 
	height: 95px; 
	width: 100%;
	padding: 5px 10px !important; 
}
.charge-info-container{
	display: table;
	height: 100%;
	width: 100%;
	table-layout: fixed;
}
.charge-info{ 
	vertical-align: middle;
	display: table-cell; 
	height: 100%;
}
form#new_charge{
	.btn{ min-width: 70px; }
}
.popover-title{ text-align: center; }
.charge-amount{ 
	overflow: hidden;
	width: 85px; 
}
.charge-description{ 
	width: auto; 
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0px 5px;
}
.charge-buttons{ 
	width: 105px;	
	padding-left: 5px;
	overflow: hidden; 
}
.charge-actions{ margin-top: 3px; }
.scrollable{ overflow: auto; }
.hover-glow{ 
	box-shadow: 2px 2px 5px rgba(12, 118, 66, 0.31) !important;
	border: 1px solid #81caa6;
}
.first-time-input-options {
	margin: 10px;
	display: inline-block;
	width: 415px;
}
#charge_renewal_period_in_words{
	margin-bottom: 15px;
	display: inline-block;
	float: left;
}
#charge_renewal_period_in_weeks{ 
	float: left;
	display: none;
	width: 70%; 
}
.charge-history-container{
	max-height: 250px;
	overflow: auto;
}
.charge-history-left{
	width: 78px;
	color: gray;
	text-align: right;
	display: inline-block;
}
.charge-history-right{
	width: 70px;
	color: gray;
	text-align: right;
	display: inline-block;
}

label[for=charge_renewal_period_in_words]{
	display: block;
}
.charge-btn-responsive{ @extend .btn-lg; }
#linked-account-heading{ margin: 20px 5px 5px 5px; }

.charge-item-action-buttons{ min-width: 70px; }

#search-charges-field{  text-indent: -38px;  }
#search-charges-field::-webkit-input-placeholder { /* WebKit browsers */
  text-indent: 8px; 
}
#search-charges-field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   text-indent: 8px; 
}
#search-charges-field::-moz-placeholder { /* Mozilla Firefox 19+ */
   text-indent: 8px; 
}
#search-charges-field:-ms-input-placeholder { /* Internet Explorer 10+ */
   text-indent: 8px; 
}
.charge-lead{ 
	font-weight: 500; 
	margin: 0 auto;
}
.charge-descriptor{ margin: 0 auto; }

.recurring-factor{
	text-align: center;
	font-size: 90%;
	border-radius: 5px;
	width: 23px; height: 23px;
	padding: 5px 0px;
	color: white !important;
}
.fa-building.recurring-factor{ padding-left: 1px; }
.recurring-factor-good{ background-color: $brand-color; }
.recurring-factor-bad{ background-color: #d9534f; }
#charges-outlook{ 
	padding-top: 15px;
}


@media (max-width: 1199px) { 
	.charge-btn-responsive{ 
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429; 
	}
	.charge-buttons{
		width: 92px;	
		padding: 2px;
	}
	.charge-item-action-buttons{ min-width: 90px !important; }
}

@media (min-width: 768px) {
	.charge-lead{ font-size: 18px; }
	#new-charge-links{ margin-top: 6px; }
	#charges-outlook{ padding-left: 30px; }
	#charge-side-list{
		padding: 20px 30px 2px 2px;
		border-right: lightgray 1px solid;
	}
}
@media (max-width: 767px) {
	.charge-descriptor{ font-size: 90%; }
	.charge-lead{ font-size: 15px; }
	#new-charge-links{ margin-top: 2px; }
	#charges-outlook{ padding-left: 0px; }
	#linked-account-heading{ 
		text-align: center; 
		margin: 20px auto 5px auto;
	}
	#charge-side-list{
		padding: 20px 2px 2px 0px;
		border-top: #e7e7e7 1px solid;
	}
	#charge-index-pills > li > a {
	  padding: 5px 5px;
	  font-size: smaller;
	}
}


//TABLE STUFF
#top-row{
	margin-top: 20px;
	padding: 0px 25px;
}
@media only screen and (min-width: 992px) {
	#charge-table{ margin-top: 20px; }
	.recurring-factor-cell{
		padding:7px 8px;
	}
	.recurring-row{
		font-weight: bold;
		border-left: 5px solid $brand-color;
	}	
	.merchant-cell{
	  max-width: 200px;
	  overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;	
  }
}

@media only screen and (max-width: 991px) {
	.merchant-cell{
  	background-color: #81CAA6;
  	color: white;
	}
	/* Force table to not be like tables anymore */
	#charge-table table, 
	#charge-table thead, 
	#charge-table tbody, 
	#charge-table th, 
	#charge-table td, 
	#charge-table tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#charge-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#charge-table tr { 
		border: 1px solid lightgray; 
		margin: 10px;
	}
 
	#charge-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
		min-height: 37px;
	}
 
	#charge-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/

	#charge-table td:before { content: attr(data-title); }
}