$brand-color: rgb(129, 202, 166);

.charge-item{ 
	height: 95px; 
	width: 100%;
	padding: 5px 10px !important; 
}
.charge-info-container{
	display: table;
	height: 100%;
	width: 100%;
	table-layout: fixed;
}
.charge-info{ 
	vertical-align: middle;
	display: table-cell; 
	height: 100%;
}
form#new_charge{
	.btn{ min-width: 70px; }
}
.popover-title{ text-align: center; }
.charge-amount{ 
	overflow: hidden;
	width: 85px; 
}
.charge-description{ 
	width: auto; 
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0px 5px;
}
.charge-buttons{ 
	width: 105px;	
	padding-left: 5px;
	overflow: hidden; 
}
.charge-actions{ margin-top: 3px; }
.scrollable{ overflow: auto; }
.hover-glow{ 
	box-shadow: 2px 2px 5px rgba(12, 118, 66, 0.31) !important;
	border: 1px solid #81caa6;
}
.first-time-input-options {
	margin: 10px;
	display: inline-block;
	width: 415px;
}
#charge_renewal_period_in_words{
	margin-bottom: 15px;
	display: inline-block;
	float: left;
}
#charge_renewal_period_in_weeks{ 
	float: left;
	display: none;
	width: 70%; 
}
.charge-history-container{
	max-height: 250px;
	overflow: auto;
}
.charge-history-left{
	width: 78px;
	color: gray;
	text-align: right;
	display: inline-block;
}
.charge-history-right{
	width: 70px;
	text-align: right;
	display: inline-block;
}

label[for=charge_renewal_period_in_words]{
	display: block;
}
.charge-btn-responsive{ @extend .btn-lg; }
#linked-account-heading{ margin: 20px 5px 5px 5px; }

.charge-item-action-buttons{ min-width: 70px; }

#search-charges-field{  text-indent: -38px;  }
#search-charges-field::-webkit-input-placeholder { /* WebKit browsers */
  text-indent: 8px; 
}
#search-charges-field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   text-indent: 8px; 
}
#search-charges-field::-moz-placeholder { /* Mozilla Firefox 19+ */
   text-indent: 8px; 
}
#search-charges-field:-ms-input-placeholder { /* Internet Explorer 10+ */
   text-indent: 8px; 
}
.charge-lead{ 
	font-weight: 500; 
	margin: 0 auto;
}
.charge-descriptor{ margin: 0 auto; }
@media (max-width: 1199px) { 
	.charge-btn-responsive{ 
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429; 
	}
	.charge-buttons{
		width: 92px;	
		padding: 2px;
	}
	.charge-item-action-buttons{ min-width: 90px !important; }
}

@media (min-width: 768px) {
	.charge-lead{ font-size: 18px; }
	#new-charge-links{ margin-top: 6px; }
	#charges-outlook{ padding-left: 30px; }
	#charge-side-list{
		padding: 20px 30px 2px 2px;
		border-right: lightgray 1px solid;
	}
}
@media (max-width: 767px) {
	.charge-descriptor{ font-size: 90%; }
	.charge-lead{ font-size: 15px; }
	#new-charge-links{ margin-top: 2px; }
	#charges-outlook{ padding: 0px; }
	#linked-account-heading{ 
		text-align: center; 
		margin: 20px auto 5px auto;
	}
	#charge-side-list{
		padding: 20px 2px 2px 0px;
		border-top: #e7e7e7 1px solid;
	}
}