$brand-color: rgb(129, 202, 166);

.charge-item{ 
	height: 120px; 
	width: 100%;
}
.charge-info-container{
	display: table;
	height: 100%;
	width: 100%;
	table-layout: fixed;
}
.charge-info{ 
	vertical-align: middle;
	display: table-cell; 
	height: 100%;
}
form#new_charge{
	.btn{ min-width: 70px; }
}
.popover-title{ text-align: center; }
.charge-amount{ 
	overflow: hidden;
	width: 85px; 
}
.charge-description{ 
	width: auto; 
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0px 5px;
}
.charge-buttons{ 
	width: 105px;	
	padding-left: 5px;
	overflow: hidden; 
}
.charge-actions{ margin-top: 3px; }
.scrollable{ overflow: auto; }
.hover-glow{ 
	box-shadow: 2px 2px 5px rgba(12, 118, 66, 0.31) !important;
	border: 1px solid #81caa6;
}
.first-time-input-options {
	margin: 10px;
	display: inline-block;
	width: 415px;
}
#charge_renewal_period_in_words{
	margin-bottom: 15px;
	display: inline-block;
	float: left;
}
#charge_renewal_period_in_weeks{ 
	float: left;
	display: none;
	width: 70%; 
}
label[for=charge_renewal_period_in_words]{
	display: block;
}
.charge-btn-responsive{ @extend .btn-lg; }


@media (max-width: 1199px) { 
	.charge-btn-responsive{ 
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429; 
	}
	.charge-item{ 
		height: 95px !important;
		padding: 5px 10px !important; 
	}
	.charge-buttons{
		width: 80px;	
		padding: 2px;
	}
	.charge-item-action-buttons{ min-width: 80px !important; }
}

@media (min-width: 767px) {
	#new-charge-links{ margin-top: 6px; }
	#charges-outlook{ padding-left: 30px; }
	#charge-side-list{
		padding: 20px 30px 2px 2px;
		border-right: lightgray 1px solid;
	}
}
@media (max-width: 766px) {
	#new-charge-links{ margin-top: 2px; }
	#charges-outlook{ padding: 0px; }
	#charge-side-list{
		padding: 20px 2px 2px 0px;
		border-top: #e7e7e7 1px solid;
	}
}