$brand-color: rgb(129, 202, 166);
.linked-account-index-item{
	height: 80px;
	width: 150px;
	border: 1px $brand-color solid;
	border-radius: 8px;
	padding: 3px;
	display: inline-block;
}
.linked-account-index-item:hover{
	background-color: $brand-color;
	a{ color: white; }
	.label-default{
		border-color: white;
		background-color: $brand-color;
		color: white;
	}
	.label-primary{
		border-color: white;
		background-color: white;
		color: $brand-color;
	}
}
.empty-linked-account-index-item{
	@extend .linked-account-index-item;
	border-color: lightgray;
}
.empty-linked-account-index-item:hover{	
	border-color: $brand-color;
	i{ color: white; }
}

#error-container{
	position: absolute;
	width: 100%;
	color: #a94442;
}
#mfa-warning{
	max-width: 350px;
	position: absolute;
}
.super-glow {
	border-color: $brand-color;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(129, 202, 166, 0.6) !important;
}
.medium-glow {
	border-color: $brand-color;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(129, 202, 166, 0.6) !important;
}
.select2-no-results{ text-align: center; }
.charge-item-action-buttons{ min-width: 70px; }
.charge-mini-edit-link{ color: black; }
.charge-mini-edit-link:hover{ text-decoration: none; }
.charge-mini-edit-link:hover + .tooltip.right .tooltip-inner{ 
	border-color: $brand-color;
	background-color: $brand-color; 
	i{ color: white; }
}
.charge-mini-edit-link:hover + .tooltip.right .tooltip-arrow{ border-right-color: $brand-color; }
.charge-mini-edit-link:hover + .tooltip.left .tooltip-inner{ 
	border-color: $brand-color;
	background-color: $brand-color; 
	i{ color: white; }
}
.charge-mini-edit-link:hover + .tooltip.left .tooltip-arrow{ border-left-color: $brand-color; }
.charge-item:hover{ .charge-mini-edit-link{ outline: 1px solid lightgray; } }
.charge-toggle{ margin-top: -7px; }