$brand-color: #5dc38e;

#charges-index{
	.scrollable{
		height: 100%;
	}
	.scroll-pane:focus{
		outline: none;
	}
	.jspVerticalBar{
		width: 1px;
		background: transparent;
		.jspTrack{ 
			background: #E7E7E7;
			.jspDrag{ 
				background: $brand-color; 
			}
		}
	}
	.jspHorizontalBar{
		display: none;
		opacity: 0;
	}

	#side-list{
		height: 100%;
		border-right: 1px solid #E7E7E7;
		.heading{
			h5, i{ color: #9b9b9b; }
			background-color: #f1f1f1;
			.pull-right{ 
			  margin-top: -3px;
			}
		}
		.sub-heading-link{
		  border-bottom: 1px solid #E7E7E7;
		  border-radius: 0;
		  color: #9b9b9b;
		  width: 101%;
		  i{color: #9b9b9b;}
		}
		.sub-heading-link:hover{
			border-top: 1px solid #E7E7E7;
			background-color: #f1f1f1;
		}
		.body{
			.item{
				margin: 0px;
				border-bottom: 1px solid #E7E7E7;
				.item-label{
					display: table;
					span{ 
						display: table-cell;
  					vertical-align: middle;
  					font-weight: bold;
  					i{ color: #9b9b9b }
  				}
				}
				.item-label, .item-stats{ 
					padding-top: 4px; padding-bottom: 5px; 
					height: 50px;
				}
				.item-stats{ 
					text-align: right;
					ul{ margin-bottom: 0px; }
					li { padding: 0px 2px; }
					li, i { color: #9b9b9b; }
					a, li{
					  white-space: nowrap;
				  	text-overflow: ellipsis;
				  	overflow: hidden;
					}
				}
				.prefs{
					margin: 2px 0px;
				}
				.prefs:last-child{
					margin-bottom: 10px;
				}
				small{
					font-weight: normal;
				}
				.progress{
					margin: 13px 0px 0px 0px;
					height: 10px;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	#side-list{
		.heading{
			padding: 5px 10px 5px 15px;
		}
	}
}