// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-color: rgb(129, 202, 166);

#particles-js{ 
  height: 425px;
	background-image: image-url("px_by_Gre3g.png");
	#home-banner{
	  position: absolute;
  	width: 100%;
  	top: 70px;
		color: white;
		h1{ font-size: 300%; }
		p{ 
			font-size: 200%; 
			color: whitesmoke;
		}
	}
}
#home-header{
	.navbar-brand{
		display: none;
	}
	nav{
	  border-bottom: none;
  	background-color: transparent;
	}
}
@media (min-width: 768px) {
  #home-header{
	  .navbar .navbar-nav {
	      display: inline-block;
	      float: none !important;
	      vertical-align: top;
	  }

	  .navbar .navbar-collapse {
	      text-align: center;
	  }
	}
}
@media (max-width: 768px) {
	#home-header{
		.navbar-collapse.collapse.in, .navbar-collapse.collapsing{
			background-color: #F0F1F4;
		}
	}
}
#home-carousel-controls{	
	div.row > div{ padding: 10px 15px 0px 15px; }
}
.home-carousel-control:hover{
	cursor: pointer;
	p{ color: $brand-color; }
}
.home-carousel-control.active{
	p{ color: $brand-color; }
}
.carousel-arrow {
	position: relative;
	top: 35px;
	z-index: 1;
}
.carousel-caption {
	top: 0;
	width: 100%;
	background: rgba(0,0,0,0.5);
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	text-shadow: none;
	left: 0;
	right: 0;
	p {color: white;}
}

@media (max-width: 992px) {
	#home-carousel-controls{ display: none; }
	.carousel-caption{ 	
		padding-top: 10px;
		bottom: 0; 
	}
}
@media (min-width: 992px) {
	.mobile-carousel-control{ display: none; }
	.carousel-caption{ 	bottom: auto; }
}

// about page
#about-banner{
	h1 { color: white; }
	p { color: white; }
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: $brand-color;
}
.anchorjs-link{
  float: left;
  width: 1em;
  height: 1em;
  margin-left: -1.2em;
  opacity: 0;
  color: inherit;
  text-align: center;
}
.anchorjs-link:hover{
  opacity: 1;
}
.about-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}
.about-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}
.about-sidebar .nav>.active>a, 
.about-sidebar .nav>li>a:hover, 
.about-sidebar .nav>li>a:focus {
    color: $brand-color;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: $brand-color; 
}
.about-sidebar .nav>.active>a, 
.about-sidebar .nav>.active:hover>a,
.about-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
.about-sidebar .nav .nav>.active>a, 
.about-sidebar .nav .nav>.active:hover>a,
.about-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}
.about-sidebar .nav ul.nav {
    display: none;           
}
.about-sidebar .nav>.active>ul.nav {
    display: block;           
}