// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-color: #5dc38e;

html#static-pages-landing, html#invitations-edit, html#invitations-update{
	#demo-touch{
	  width: 30px;
	  height: 30px;
	  display: inline-block;
	  background-color: white;
	  border-radius: 100%;
	  position: absolute;
	  z-index: 9;
	  border: 2px solid black;
	  transition: all 0.5s;
	}
	#demo-touch.pop{
		width: 100px;
		height: 100px;
		opacity: 0;
	}
  .container-fluid{
  	padding: 0px;
  }
  .carousel-inner{
  	height: 100%;
  }
  .item{ height: 100%; }
  .flex-center{
	  display: flex;
	  align-items: center;
	  height: 100%;
	  overflow-y: scroll;
  }
  .bs-wizard{
  	opacity: 0;
  }
  .alert-email{
  	margin: 10px;
  	border-radius: 6px;
  	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.22);
  }
  .sm-full-height{
  	width: 100%;
  }
  @media (max-width: 992px) {
  	.sm-full-height{
  		height: 100%;
  	}
  }
  @media (max-height: 700px) {
  	.sm-full-height{
  		height: 100%;
  	}
  }
}

#home-carousel{
	.left.carousel-control{
  	background-image: linear-gradient(left, rgba(255,255,255,1), rgba(255,255,255,0)) !important;
	}
	.right.carousel-control{
  	background-image: linear-gradient(right, rgba(255,255,255,1), rgba(255,255,255,0)) !important;
	}
	.carousel-control{
		width: 5%;
		opacity: 1;
		color: rgba(0,0,0,0.4);
		background-image: none;
		span{ font-family: "FontAwesome" }
		.glyphicon-chevron-left:before{ content: "\f137" }
		.glyphicon-chevron-right:before{ content: "\f138" }
	}
	.carousel-control:hover{
		color: $brand-color;
	}
}
#home-carousel-controls{	
	div.row > div{ padding: 10px 15px 0px 15px; }
}

.home-carousel-control:hover{
	cursor: pointer;
	p{ color: $brand-color; }
}
.home-carousel-control.active{
	p{ color: $brand-color; }
}
.carousel-arrow {
	position: relative;
	top: 35px;
	z-index: 1;
}

.trym-talking{
	margin: 10px auto;
	display: inline-block;
	border-bottom: 1px solid $brand-color;
	padding: 0px 20px;
	p.opener{
		margin: 0px;
		font-weight: 300; 
		font-size: 250%;
	}
}
#trym-body{
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	overflow-y: scroll;
	.trym-grid-row{
		margin: 2px 2px;
	}
}
.trym-fade-in{
	opacity: 0;
}
.trym-from-bottom{
	position: relative;
}
.trym-subtext{
	margin-bottom: 30px;
}
@media (max-width: 767px) {
	.trym-talking p.opener{ font-size: 170%; }
	#trym-body{ margin-top: 10px; }
}

// about page
.about-page-section{
	margin-top: 30px;
}

#about-links{
	li a{
		color: darkgray;
	}
	li.active, li:hover{
		a { 
			color: black; 
			text-decoration: none;
		}
		border-bottom: 1px solid $brand-color;
	}
}

@media (min-width: 768px) {
	.about-page-section-header{
		text-align: right;
	}
}