// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-color: #5dc38e;

html#static-pages-landing, html#invitations-edit, html#invitations-update{
	#demo-touch{
	  width: 30px;
	  height: 30px;
	  display: inline-block;
	  background-color: white;
	  border-radius: 100%;
	  position: absolute;
	  z-index: 9;
	  border: 2px solid black;
	  transition: all 0.5s;
	}
	#demo-touch.pop{
		width: 100px;
		height: 100px;
		opacity: 0;
	}
  .container-fluid{
  	padding: 0px;
  }
  .carousel-inner{
  	height: 100%;
  }
  .item{ height: 100%; }
  .flex-center{
	  display: flex;
	  align-items: center;
	  height: 100%;
	  overflow-y: scroll;
  }
  .alert-email{
  	margin: 10px;
  	border-radius: 6px;
  	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.22);
  }
  .sm-full-height{
  	width: 100%;
  }
  @media (max-width: 992px) {
  	.sm-full-height{
  		height: 100%;
  	}
  }
  @media (max-height: 700px) {
  	.sm-full-height{
  		height: 100%;
  	}
  }
}
.trym-talking{
	margin: 10px auto;
	display: inline-block;
	border-bottom: 1px solid $brand-color;
	padding: 0px 20px;
	p.opener{
		margin: 0px;
		font-weight: 300; 
		font-size: 250%;
	}
}
#trym-body{
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	overflow-y: scroll;
	.trym-grid-row{
		margin: 2px 2px;
	}
}
.trym-fade-in{
	opacity: 0;
}
.trym-from-bottom{
	position: relative;
}
.trym-subtext{
	margin-bottom: 30px;
}
@media (max-width: 767px) {
	.trym-talking p.opener{ font-size: 170%; }
	#trym-body{ margin-top: 10px; }
}
#landing-slide-land{
	padding: 170px 0px;
}
#tell-me-more{
	text-align: center;
}
#landing-slide-one{
	padding: 30px 0px 75px 0px;
	color: white;
	background-color: $brand-color;
	p, h3, i{ color: white; }
	.trym-talking{
		border-bottom: 1px solid white;
	}
}
#landing-slide-two, #landing-slide-three, #landing-slide-four, {
	padding: 75px 0px 75px 0px;
}
#landing-slide-five{
	@extend #landing-slide-one;
	.btn{ 
		border-color: white;
		color: white;
	}
	.btn:hover{
		background-color: white;
		color: $brand-color;
	}
	padding: 150px 0px 150px 0px;
}
#landing-footer{
	padding: 5px 0px;
	background-color: black;
	color: white;
	a{ 
		text-decoration: none;
		color: white; 
	}
	a:hover{ 
		text-decoration: none;
		color: $brand-color
	}
}

// about page
.about-page-section{
	margin-top: 30px;
}

#about-links{
	li a{
		color: darkgray;
	}
	li.active, li:hover{
		a { 
			color: black; 
			text-decoration: none;
		}
		border-bottom: 1px solid $brand-color;
	}
}

@media (min-width: 992px) {
	.about-page-section-header{
		text-align: right;
	}
}
@media (max-width: 991px) {
	.about-page-section-header{
		font-size: 18px;
	}
}
