// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-color: rgb(129, 202, 166);


#home-banner{ 
	background-color: $brand-color;
	color: white;
	h1{ font-size: 300%; }
	p{ 
		font-size: 200%; 
		color: whitesmoke;
	}
}
#home-carousel-controls{	
	border-top: black 1px solid;
	margin-top: 20px;
	div.row > div{ padding: 10px 15px 0px 15px; }
}
.home-carousel-control:hover{
	cursor: pointer;
	p{ color: $brand-color; }
}
.home-carousel-control.active{
	p{ color: $brand-color; }
}
.carousel-arrow {
	position: relative;
	top: 35px;
	z-index: 1;
}
.carousel-caption {
	top: 0;
	width: 100%;
	background: rgba(0,0,0,0.5);
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	text-shadow: none;
	left: 0;
	right: 0;
	p {color: white;}
}

@media (max-width: 992px) {
	#home-carousel-controls{ display: none; }
	.carousel-caption{ 	
		padding-top: 10px;
		bottom: 0; 
	}
}
@media (min-width: 992px) {
	.mobile-carousel-control{ display: none; }
	.carousel-caption{ 	bottom: auto; }
}