.trym-category-grid{
	text-align: center;
	.trym-category-grid-cell{
		@extend .btn;
		@extend .btn-primary;
		width: 215px;
		margin: 2px 0px;
		.grid-title{ font-weight: bold }
	}
	.trym-category-grid-cell.off{
		background-color: rgba(129, 202, 166, 0.5);
	}
	.trym-category-grid-cell:hover{
		background-color: rgba(129, 202, 166, 1);
	}
}