// Place all the styles related to the Merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#account_detail_confirmation_code{ 
	font-size: 225%;
	height: 60px;
	font-weight: bold;
	width: 200px;
	display: inline-block;
}