%div{style: "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:14px; line-height:1.428571429; margin:0"}
  %div{style: "margin:20px auto; padding:5px; width:450px"}
    %div      
      %div
        %p{style: "margin: 0px auto; text-align:center;"}
          %a{style: "font-size:200%; font-weight:400; line-height:1.4; text-decoration: none; color: black", href: "www.trym.io"}
            <span style="color: #81CAA6;">t</span>rym.io
        %p{style: "margin: 0px auto 20px auto; text-align:center;"}
          %span{style: "color: gray"} nice to meet you
        %p
          Hi there,
        %p
          I am part of the team building trym.io, a digital assistant which helps you manage your recurring expenses.  We just launched and are inviting our first users so naturally I wanted to send you an invite. 
        %p
          Trym manages all your recurring expenses and let's you cancel or modify any service with a click.  Want to get rid of your cable or landline services but hate talking to customer service?  Trym will do it for you.  <b>All for free.</b>
        %p{style: "text-align:center;"}
          =link_to "To activate your account, click here.", accept_invitation_url(@resource, :invitation_token => @token), style: "color: #81CAA6; border-radius:4px;font-size:115%;"
        %p
          We are going to be working hard to improve trym and implement new features. Your feedback is crucial to this process, so please share it!
        %p
          You can reply to this email or email me directly at 
          %a{href: "mailto:#{User.find(@resource.invited_by_id).email}", style: "color: #81CAA6; text-decoration: none;"}
            #{User.find(@resource.invited_by_id).email}
        %p
          %br
          Thanks and enjoy!
          %br
          #{User.find(@resource.invited_by_id).first_name}