!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %div{style: "font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:14px; line-height:1.428571429; margin:0"}
      %div{style: "margin:20px auto; padding:5px; width:350px"}
        %div{style: "min-height: 35px;"}
          %div{style: "float:left; min-height:1px; width:50%"}
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
            <rect fill="#81CAA6" width="300" height="300"/>
            <rect x="-77.237" y="-77.238" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 -0.001 -7.150824e-005)" fill="#FFFFFF" width="154.473" height="154.475"/>
            <g>
            <path fill="#FFFFFF" d="M156.127,106.247h25.75v18.75h-25.75v80.25c0,9.75,2.75,11.5,16,11.5h9.75v18.75h-16.25c-22,0-30.75-4.5-30.75-28.25v-82.25h-22v-18.75h22v-38.75h21.25V106.247z"/>
            </g>
            </svg>
            %span{style: "font-size:16px; font-weight:500; vertical-align:super;"}  Heads up!
          %div{:align => "right", style: "float:right; min-height:1px; text-align:right; width:50%"}
            %a{:href => "https://trym.io/users/sign_in", style: "background: #81CAA6; color: #FFF; border-radius:4px; border:1px solid #81caa6; display:inline-block; font-size:14px; font-weight:normal; margin-bottom:0; padding:6px 12px; text-align:center; text-decoration: none;"} Log In
        %div      
          %div{style: "text-align:center;"}
            %p{style: "font-size:300%; font-weight:400; line-height:1.4; margin:0 auto;"}
              <span style="color: #81CAA6;">t</span>rym
            %p{style: "margin:0 0 10px"}
              We are writing to alert you that in 3 days you will be billed for the following recurring services
          -@charges.each do |charge|
            %dl{style: "border-top-color:lightgray; border-top-style:solid; border-top-width:1px; margin-bottom:10px; margin-top:10px; padding-top:10px;"}
              %dt{style: "clear:left; float:left; font-weight:bold; margin-left:8px; overflow:hidden; text-align:left; text-overflow:ellipsis; white-space:nowrap; width:140px"} Charge:
              %dd{style: "margin-left:150px; text-align:left; width:200px"}=charge.merchant.present? ? charge.merchant_name : charge.description
              %dt{style: "clear:left; float:left; font-weight:bold; margin-left:8px; overflow:hidden; text-align:left; text-overflow:ellipsis; white-space:nowrap; width:140px"} Amount:
              %dd{style: "margin-left:150px; text-align:left; width:200px"}=number_to_currency charge.amount_in_currency
              -if charge.linked_account.present?
                %dt{style: "clear:left; float:left; font-weight:bold; margin-left:8px; overflow:hidden; text-align:left; text-overflow:ellipsis; white-space:nowrap; width:140px"} Account Charged:
                %dd{style: "margin-left:150px; text-align:left; width:200px"}= charge.linked_account.account_name
              %dt{style: "clear:left; float:left; font-weight:bold; margin-left:8px; overflow:hidden; text-align:left; text-overflow:ellipsis; white-space:nowrap; width:140px"} Date:
              %dd{style: "margin-left:150px; text-align:left; width:200px"}= charge.next_billing_date.strftime
            %div{:align => "center", style: "text-align:center"}
              =link_to "stop this charge", new_charge_stop_order_url(charge), style: "background: #81CAA6; color: #FFF; border-radius:4px; border:1px solid #81caa6; display:inline-block; font-size:14px; font-weight:normal; margin-bottom:0; padding:6px 12px; text-align:center; text-decoration: none;"

          %div{:align => "left", style: "margin-top:20px; text-align:left"}
            %p{style: "margin:0 0 10px"}
              Click
              =link_to "here", edit_user_registration_path(user), style: "color: #81CAA6"
              to change how often and how we contact you or reply to this email if you have questions or feedback.
            %p{style: "margin:0 0 10px"}
              Thank you for your membership!
            %p{style: "margin:0"}
              Sincerely,
              %br
              Trym Customer Service