.well.charge-item
  .charge-info-container
    .charge-info.charge-amount.text-center{style: "padding-right: 10px;"}      
      %p.charge-lead.without-margin
        =number_to_currency(charge.amount_in_currency)        
      
      %p.without-margin
        =billing_interval_in_words(charge.renewal_period_in_weeks)
    
      .small
        %a.icon-link{tabindex: "0", data: {toggle: "popover", content: formatted_history(charge.history_with_long_dates)} }
          %i.fa.fa-calendar
          history
            
    .charge-info.charge-description.text-left
      .charge-lead
        %p=charge.merchant.name.titlecase
      %p.without-margin.small
        %span.small-gray
          %i.fa.fa-clock-o.hidden-md
          =time_to_next_bill(charge.next_billing_date)
      %p.charge-descriptor
        =charge.smart_description
    
    .charge-info.charge-buttons.text-center            
      .btn-group-vertical.text-center{role: "group", style: "width: 100%"}
        // Oh dear god this is so ugly
        .btn.btn-charge{style: "border-top-right-radius: 3px;"}
          %i.fa.fa-stop
          cancel
        .btn-group
          %button.btn.btn-charge{style: "border-bottom-right-radius: 3px; border-top: 1px solid rgb(231, 231, 231);", data: {toggle: "dropdown"}} 
            modify
            %span.caret
          %ul.dropdown-menu
            %li              
              %a{href: "#"}
                %i.fa.fa-upgrade
                upgrade
            %li
              %a{href: "#"}
                %i.fa.fa-downgrade
                downgrade
            %li
              %a{href: "#"}
                %i.fa.fa-edit
                edit expense info
