.item
  .flex-center
    .text-center{style: "width: 100%;"}
      %i.fa.fa-copyright
      2015 trym.io
      %i.fa.fa-circle
      =link_to "legal", legal_path
      %i.fa.fa-circle
      %a{href: "mailto:team@trym.io"} contact