.item
  .flex-center
    .row.text-center{style: "width: 100%; margin: 0px"}
      .col-xs-10.col-xs-offset-1.text-center
        %h3.trym-fade-in
          %i.fa.fa-5x.fa-question-circle
        %h3.trym-fade-in What are your recurring expenses?
        
        %ul.list-inline.lead
          %li.trym-fade-in 
            %span TV?
          %li.trym-fade-in 
            %span Insurance?
          %li.trym-fade-in 
            %span Phones, gyms, magazines, credit cards, websites?
          %li.trym-fade-in 
            %em Is that everything?

        %p.lead.trym-fade-in
          Have you ever had trouble modifying or canceling them?
                
        .text-center.trym-fade-in
          .trym-talking
            %p.opener
              I can help.