.item
  .flex-center
    .sm-full-height.text-center
      .trym-talking
        %p.opener.trym-fade-in
          I help you find what's recurring.
      .row
        .col-lg-5.col-lg-offset-1.col-md-6.col-md-offset-0.col-sm-10.col-sm-offset-1
          .paragraph-spacer
          .text-center.trym-fade-in
            %p.lead.trym-subtext
              Link me to one or more of your financial accounts and i'll automatically identify your recurring expenses...
            .row
              .col-md-10.col-md-offset-1
                %ul.list-group.text-left
                  -{"American Express" => ["617 Charges", "Unlink"], "Bank of America" => ["Link"], "Bank of America" => ["Link"], "Chase" => ["244 Charges", "Unlink"], "Citi" => ["Link"], "Schwab" => ["Unlink"]}.each do |bank, buttons|
                    %li.list-group-item
                      .row
                        .col-xs-6
                          %span= bank
                        .col-xs-6.text-right  
                          -if buttons.first == "Link"
                            %a.btn.btn-xs.btn-primary{style: "width:46px"}=buttons.first
                          -else
                            %a.btn.btn-xs.btn-primary-o=buttons.first
                          -if buttons.size > 1
                            %a.btn.btn-danger.btn-xs{style: "width:46px"}
                              Unlink

        .col-lg-5.col-lg-offset-0.col-md-6.col-md-offset-0.col-sm-10.col-sm-offset-1
          .paragraph-spacer
          .text-center.trym-fade-in
            %p.lead.trym-subtext
              ="... or i can help you quickly organize and input your recurring expenses manually"
            .row
            .col-md-10.col-md-offset-1
              .trym-category-grid
                %a.trym-category-grid-cell
                  %p.grid-title
                    Gym & Club Memberships
                  .row
                    .col-xs-6.text-center
                      %small $149 / month
                    .col-xs-6.text-center
                      %small 2 expenses
                %a.trym-category-grid-cell
                  %p.grid-title
                    Home Services & Security
                  .row
                    .col-xs-6.text-center
                      %small $20 / month
                    .col-xs-6.text-center
                      %small 1 expense
                %a.trym-category-grid-cell.off
                  %p.grid-title
                    Shopping & Home Delivery
                  .row
                    .col-xs-6.text-center
                    .col-xs-6.text-center
                      %small 0 expenses
                %a.trym-category-grid-cell
                  %p.grid-title
                    TV, Phone, & Internet
                  .row
                    .col-xs-6.text-center
                      %small $229 / month
                    .col-xs-6.text-center
                      %small 3 expenses
                %a.trym-category-grid-cell.off
                  %p.grid-title
                    Newspaper & Magazines
                  .row
                    .col-xs-6.text-center
                    .col-xs-6.text-center
                      %small 0 expenses
                %a.trym-category-grid-cell
                  %p.grid-title
                    Online Services
                  .row
                    .col-xs-6.text-center
                      %small $12 / month
                    .col-xs-6.text-center
                      %small 1 expense