.row
  .col-xs-12
    %a.btn.btn-primary-o.btn-block.collapse-expand-button{charge_group_button(grouping, grouped_charges, @grouping)} 
      ="#{pluralize(grouped_charges.count, 'charge')}" 
      %b= grouping
      recurring
  .col-xs-12
    .collapse{id: "collapse-#{grouping.downcase.gsub(" ","-")}", class: ["likely to be", "might be"].include?(grouped_charges.first.recurring_score_grouping) ? 'in' : ''}
      -if @grouping.present? || grouped_charges.first.recurring_score > 1  
        -grouped_charges.in_groups_of(3,false) do |charges|
          -charges.each do |charge|
            /.col-md-6{class: charges.size == 1 ? "col-md-offset-3" : ''}
            =render partial: "shared/charge_item", locals: {charge: charge}

:javascript
  $(".collapse").on('show.bs.collapse', function () {
    $(this).parent().parent().find('.collapse-expand-button').addClass('active');
  });

  $("[name='track-switch']").change( function() {
    var state = $(this).is(":checked")
    if( state ) {
      var cat_id = "#{@category.id}";
    } else {
      var cat_id = "";
    }
    $.ajax({
      type: "PUT",
      url: "/charges/" + $(this).data("charge-id"),
      data: { charge: { recurring: state, trym_category_id: cat_id }, scan: "scan" },
      dataType: "script"
    })
  $(".collapse").on('hide.bs.collapse', function () {
    $(this).parent().parent().find('.collapse-expand-button').removeClass('active');
  });

  $(function () {
    $('[data-toggle="popover"]').popover({html: true, trigger: 'focus', title: "<i class='fa fa-calendar'></i> Charge History"});
  })