.well{style: "margin-top: 20px; width: 100%; overflow-x: scroll; height: 92px;"}
  %div{style: "width: #{(current_user.linked_accounts.count+1) * 155}px; height: 60px;"}
    .empty-linked-account-index-item.text-center
      =link_to charge_wizard_path(:select_financial_institutions) do 
        .table-div{style: "width: 100%; height: 100%;"}
          .vertical-center
            %div
              %i.fa.fa-credit-card.fa-2x
            %div
              %i.fa.fa-plus
              link new account    

    -current_user.linked_accounts.each do |link|
      .linked-account-index-item.text-center
        =link_to link, onclick: 'showLoader();' do 
          .table-div{style: "width: 100%; height: 100%;"}
            .vertical-center
              %div=link.account_name
              .linked-account-index-labels
                %span.label.label-default{style: "margin: 0px 2px;"}="#{link.charges.recurring.count} recurring"
                -if link.charges.new_transaction.count > 0
                  %span.label.label-primary{style: "margin: 0px 2px;"}="#{link.charges.new_transaction.count} new!"