.text-center#link-success-container
  %h2  
    %i.fa.fa-check-circle.fa-2x
  %h2
    Your account was successfully linked!
  %p.lead
    We're syncing your data now, this usually takes 2-5 minutes.  Feel free to browse around, we'll notify you when we're done.
  %p
    =link_to "Click here to continue", "javascript:location.reload(true)", class: "btn btn-primary", id: "#after-success-link"