%h2 Almost there!
%p.lead
  ="#{@linked_account.financial_institution.name} requires some additional information before we can link to your account"
=simple_form_for @linked_account, remote: true do |f|
  =f.input :mfa_response, required: false, input_html: {value: '', class: "text-center"}
  %button.btn.btn-primary.btn-lg#mfa-submit-button Continue

#mfa-error-container{style: "margin-top: 10px;"}