.modal-dialog
  .modal-content
    .modal-body
      #credentials-form-container  
        =render 'credentials_form'
      #mfa-form-container.text-center
      #link-success-container
        =render 'link_success'