.modal-dialog.modal-md
  .modal-content.vertical-center.text-center
    .modal-body
      #credentials-form-container  
        =render 'credentials_form'
      #mfa-form-container
      #link-success-container
        =render 'link_success'

:javascript

  function waitForPlaid(linked_account_path) {

    if ( $("#new_linked_account").is(":visible") ) {
      var submit_button_text = "Link Account";
      var current_form = "credentials";
    } else {
      var submit_button_text = "Continue";
      var current_form = "mfa";
    }
    
    var submit_button = $("#" + current_form + "-submit-button");
    var error_container = $("#" + current_form + "-error-container");
    var form_container = $("#" + current_form + "-form-container");

    submit_button.html("<i class='fa fa-cog fa-spin fa-fw'></i>Working</button>");

    // this function will run each 1000 ms until stopped with clearInterval()
    var i = setInterval(function () {
      $.ajax({
        url: linked_account_path,
        dataType: "json",

        success: function (json) {
          if (json.last_api_response === null) {

          } else if (json.last_api_response.response_code == "200") { 
            clearInterval(i);
            $('#after-success-link').attr("href","/linked_accounts/" + json.id);
            submit_button.html("<i class='fa fa-check'></i>Linked</button>");
            form_container.fadeOut(1000, function(){
              $("#link-success-container").fadeIn();
            });
          } else if (json.last_api_response.response_code == "201") {
            clearInterval(i);
            form_container.fadeOut(500, function(){
              submit_button.html(submit_button_text);
              $("label[for='linked_account_mfa_response']").text(json.mfa_prompt);
              $("#linked_account_mfa_response").val('');
              $("#mfa-form-container").fadeIn();
            });
          } else {
            clearInterval(i);
            submit_button.html(submit_button_text);
            flash_error_button(submit_button);
            error_container.html("<p class='form-errors'>" + json.error_message + "</p>");
          }
        },

        error: function () {
          // on error, stop execution
          submit_button.html(submit_button_text);
          flash_error_button(submit_button);
          error_container.html("<p class='form-errors'>Could not communicate with server, please try again</p>");
          clearInterval(i);
        }
      });
    }, 1000);
  }