.row
  .col-md-10.col-md-offset-1
    .paragraph-spacer
    .text-center
      .trym-talking
        %p.lead.without-margin
          Link your accounts and I will help you find recurring expenses automatically

    .paragraph-spacer

    %p.lead.text-center
      =link_to search_charges_path, class: "btn btn-primary-o" do 
        %i.fa.fa-list
        View transactions across your linked accounts
    =render 'shared/financial_institutions'

.row
  .col-lg-8.col-lg-offset-2
    .well
      %p.strong.text-center
        Here's how account linking works
      %ul
        %li
          =render 'shared/security_notice'
        %li Trym scans linked accounts every day and alerts you if it find new expenses which look recurring.
        %li You can unlink an account at any time by clicking on the "unlink" button on any linked account's page.
        %li If you unlink an account Trym will delete its connection to your account and will stop scanning it for recurring expenses.
        %li If your account is being updated, it will show as "syncing" or "analyzing" until the update is complete.
        %li 
          Questions? 
          %a{href: "mailto: team@trym.io"} Just ask.

=render 'shared/security_and_terms'
  