-if @linked_account.error_message
  #flash-container
    .alert{role: 'alert', class: flash_alert_type("alert") }
      %p.without-margin.lead.text-center
        %i.fa.fa-exclamation-circle{ style: "color: #f0ad4e;"}
        %span= @linked_account.error_message

-else 
  .container#scrollable-with-offset
    .row      
      .col-xs-12.scrollable        
        -if @linked_account.status == "unlinked"
          %h2
            =@linked_account.financial_institution.name
          .unlinked-info-box
            %h3
              %i.fa.fa-unlink{style: "color: #f0ad4e"}
              Account Unlinked
              =link_to new_linked_account_path(financial_institution_id: @linked_account.financial_institution_id), remote: true, class: "btn btn-primary btn-xs" do
                %i.fa.fa-link
                relink 
                %span.hidden-xs this account
            %p This account has been unlinked. Trym will no longer automatically search your account for new transactions or update you on changes to recurring expenses from this account.  You may relink this account at any time by re-entering your linked account credentials.

        -else
          %h2
            =@linked_account.financial_institution.name
            %br.visible-xs-block
            =link_to unlink_linked_accounts_path(id: @linked_account.id), method: :post, class: "btn btn-danger btn-sm linked-account-charges-buttons", data: {confirm: "Are you sure you want to unlink this account? To relink it you will need to re-enter your account credentials."} do
              %i.fa.fa-unlink{style: "color: white"}
              unlink account

        -if @linked_account.status == "delayed"
          .unlinked-info-box
            %h3 
              %i.fa.fa-clock-o{style: "color: #f0ad4e"}
              Linking Delayed

            %p.lead
              It's taking longer than normal to sync your #{@linked_account.name} account. We'll send you an email when it's finished. Please email us at
              =link_to "support@trym.io", "mailto:support@trym.io?subject=Issues with Linked Account ID:#{@linked_account.id}"
              if your account is not synced in the next 24 hours.


        -if @linked_account.charges.present?
          %p.lead  
            Transactions on this account for up to the past two years are displayed below. 
            %strong Trym puts expenses which look recurring at the top of the list.
            Tell Trym to monitor or manage any expense by checking "recurring" next to it. Based on your transaction history, Trym will notify you when you are likely to be re-charged for any recurring expense. 
        
          =render 'charges/table/table'

        -elsif @linked_account.status != "delayed"
          .unlinked-info-box
            %h3
              %i.fa.fa-warning{style: "color: #f0ad4e"}
              No transactions found

            %p.lead
              We have not found any transactions in this account yet.  If you can see transactions on your financial institution's website or think there should be transactions on this account please email us at
              =link_to "support@trym.io", "mailto:support@trym.io?subject=Issues with Linked Account ID:#{@linked_account.id}"
          .paragraph-spacer
          .paragraph-spacer
          .paragraph-spacer
          .paragraph-spacer
          .paragraph-spacer
          .paragraph-spacer
          .paragraph-spacer