-if @linked_account.error_message
  #flash-container
    .alert{role: 'alert', class: flash_alert_type("alert") }
      %p.without-margin.lead.text-center
        %i.fa.fa-exclamation-circle{ style: "color: #f0ad4e;"}
        %span= @linked_account.error_message


-unless @linked_account.charges.present?
  .row.text-center
    .col-xs-10.col-xs-offset-1
      %h3{style: "margin: 100px;"} 
        %p We haven't find any charges in this account yet.  Check back soon! 
        =link_to "unlink account", {action: "destroy", id: @linked_account.id}, method: :delete, class: "btn btn-danger btn-md linked-account-charges-buttons", style: "z-index: 9999;", data: {confirm: "Are you sure you want to unlink this account? This can't be undone."}

-else 
  .container#scrollable-with-offset
    .row      
      .col-xs-12.scrollable
        %h2
          =@linked_account.financial_institution.name
          %br.visible-xs-block
          =link_to "unlink account", {action: "destroy", id: @linked_account.id}, method: :delete, class: "btn btn-danger btn-sm", data: {confirm: "Are you sure you want to unlink this account? This can't be undone and all non recurring charges will be deleted"}

          =link_to "save and continue", trym_referrer, class: "btn btn-primary btn-sm"

        %p.lead  
          Transactions on this account for at least the past two years are displayed below. 
          %strong Trym puts expenses which look recurring at the top of the list.
          Tell Trym to monitor or manage any expense by checking "track" next to it.  Trym will try to alert you before future charges and find you better deals on similar services.

        =render 'charges/table/table'

  =render "shared/charge_item_script"

  :javascript
    function buttonLoader(button) {
      button.parent().parent().parent().after("<p id='grouped-charge-button-loader' class='lead text-center'><i class='fa fa-cog fa-spin'></i> loading...</p>");
    };

    if( $('#modal-container').find('#loading-modal').size() > 0 ){
      $(".modal-dialog").remove();
      $("#modal-container").modal('hide');
    };
