#charges-outlook{role: "tabpanel"}
  #charge-index-pills-container
    %ul.nav.nav-pills#charge-index-pills
      
      %li.hidden-md.hidden-lg{role: "presentation"}
        %a{ href: "#active-charges", role: "tab", data: {toggle: "tab", loaded: "true"} } Active Charges
      
      -if @charges_outlook_chart_data.any_charges_in_year?
        %li{role: "presentation"}
          %a{ href: "#twelve-month-outlook", role: "tab", data: {toggle: "tab", loaded: "false", link_taget: outlook_charges_path} } Outlook
      
      %li.active{role: "presentation"}
        %a{ href: "#manage-account-status", role: "tab", data: {toggle: "tab", link_taget: stop_orders_path, loaded: "true"} } Account Management


      %li{role: "presentation"}
        %a{ href: "#linked-accounts", role: "tab", data: {toggle: "tab", link_taget: financial_institutions_path, loaded: "false"} } Linked Accounts
      
      -if current_user.charges.not_recurring.present?
        %li{role: "presentation"}
          %a{ href: "#all-charges", role: "tab", data: {toggle: "tab", loaded: "false", link_taget: search_charges_path} } All Charges
  
  .tab-content
    #active-charges.tab-pane.fade.hidden-md.hidden-lg{:role => "tabpanel"}
      .paragraph-spacer
      #active-charges-container
        =render 'charge_list'
    
    -if @charges_outlook_chart_data.any_charges_in_year?
      #twelve-month-outlook.tab-pane.in{:role => "tabpanel", class: @stop_orders.present? ? "" : "active"}
        #outlook-container
          -unless @stop_orders.present?
            =render 'outlook'
    
    -if @stop_orders.present?
      #manage-account-status.tab-pane.in.active{:role => "tabpanel"}
        #manage-account-container
          =render 'stop_orders/index'

    #linked-accounts.tab-pane.fade{:role => "tabpanel"}
      .paragraph-spacer
      %p.lead Trym can <b>securely link</b> trym to some of your <b>credit and bank accounts</b> and automatically <b>scan them for recurring charges</b>.

      %ul.wizard-list
        %li
          =render 'shared/security_notice'
        %li
          Trym scans linked accounts every day and alerts you if we find new charges which look recurring
        %li You can always unlink any of your accounts at any time
        %li 
          <b>Linking accounts is optional</b>, if you choose not to link any accounts you can always just add charges manually

      #financial-institution-list-container
        =render 'linked_accounts/index'

    -if current_user.charges.not_recurring.present?
      #all-charges.tab-pane.fade{:role => "tabpanel"}
        #charge-table-container

  :javascript
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      if(typeof e.target.dataset.linkTaget != 'undefined') {
        $("#charge-table-container").html("<h3 class='text-center'><i class='fa fa-cog fa-spin'></i> Loading...</h3>")
        $.ajax({url: e.target.dataset.linkTaget, dataType: 'script'})
      }
    })