-if @charges.present?
  -@charges.in_groups_of(2, false) do |charge_group|
    -charge_group.each do |charge|
      .col-md-6{class: charge_group.size == 1 ? 'col-md-offset-3' : '' }
        =render partial: "shared/charge_item", locals: {charge: charge}
-else
  %p.lead.text-center
    = "Sorry we couldn't find any charges from #{@query}.  Please try a different name or"
    =link_to "add a new charge.", new_charge_path, remote: true