.col-lg-4#charge-side-list.scrollable
  .text-left.inline-block
    %p.lead
      %i.fa.fa-credit-card
      active charges
  .text-right.inline-block.pull-right{style: "margin:5px 5px 0px 0px;"}
    =link_to new_charge_path, remote: true, class: "icon-link" do
      %i.fa.fa-plus-circle
      add charge
  -@charges.sort_by(&:next_billing_date).each do |charge|
    .well.charge-item{class: "merchant-#{charge.merchant.name}" }
      .charge-info.charge-amount.text-center{style: "padding-right: 10px;"}
        %b
          =number_to_currency charge.amount / 100.0
        %br
        every month
      .charge-info.charge-description        
        %p.lead.without-margin=charge.merchant.name
        %p.without-margin.small.small-gray
          %i.fa.fa-clock-o
          -if charge.next_billing_date == Date.today
            due today
          -else
            next charge in
            =distance_of_time_in_words charge.next_billing_date.to_time - Time.now.beginning_of_day
          %br
        %p.without-margin=charge.description

      .charge-info.charge-actions.pull-right{style: "width: 100%;"}
        =link_to new_charge_stop_order_path(charge), remote: true, class: "btn btn-default btn-block" do
          %i.fa.fa-stop
          stop
        =link_to edit_charge_path(charge), remote: true, class: "btn btn-default btn-block" do
          %i.fa.fa-edit
          edit
        