.col-lg-4#charge-side-list.scrollable
  .text-left.inline-block
    %p.lead
      %i.fa.fa-calculator
      active charges
  .text-right.inline-block.pull-right
    %p#new-charge-links
      =link_to new_charge_path, class: "icon-link" do
        %i.fa.fa-plus-circle
        add charge
      or
      =link_to new_transaction_data_request_path, class: "icon-link", remote: true do
        %i.fa.fa-credit-card
        scan account
  
  -(@charges.select(&:next_billing_date).sort_by(&:next_billing_date) + @charges.reject(&:next_billing_date)).each do |charge|
    =render partial: "shared/charge_item", locals: {charge: charge}

=render "shared/charge_item_script"