.paragraph-spacer
.row.trym-fade-in
  .col-sm-12.text-center
    .trym-talking
      %p.lead.without-margin
        Hello#{current_user.first_name.present? ? ' ' + current_user.first_name : ''}, here's what i'm tracking for you.
    -if @charges_outlook_chart_data
      %p.lead
        You're on track to spend 
        %b #{number_to_currency @charges_outlook_chart_data.total_next_twelve_months}
        on recurring expenses over the next year.
    -else
      %p.lead
        Tell me more about any recurring expense by clicking modify > edit expense info.

.trym-fade-in
  .row#charge-list
    -(@charges.select(&:next_billing_date).sort_by(&:next_billing_date) + @charges.reject(&:next_billing_date)).in_groups_of(2,false) do |charge_group|
      -charge_group.each do |charge|
        %div{ class: "col-md-6 #{charge_group.size == 2 ? '' : 'col-md-offset-3'}" }
          =render partial: "shared/charge_item", locals: {charge: charge}

  .paragraph-spacer

  .row
    .col-md-4
      %p
        =link_to current_user.has_linked_charges? ? search_charges_path : linked_accounts_path, class: "btn btn-block btn-primary-o btn-icon-left" do
          %span
            %i.fa.fa-credit-card.fa-3x.pull-left
          %span Add expenses from linked accounts
    .col-md-4
      %p
        =link_to new_charge_path, class: "btn btn-block btn-primary-o btn-icon-left" do
          %span
            %i.fa.fa-plus-circle.fa-3x.pull-left
          %span Add new recurring expenses manually
    .col-md-4
      %p
        =link_to new_stop_order_path, class: "btn btn-block btn-primary-o btn-icon-left" do
          %span
            %i.fa.fa-cogs.fa-3x.pull-left
          %span Cancel or modify recurring expenses

  .paragraph-spacer