%div{ style: "display: table; height: 100%; width: 100%;" }
  .row{ style: "display: table-row;" }
    .col-lg-10.col-offset-lg-1.vertical-center.text-center{ style: "float: none;"}
      %h2 
        Welcome to Trym!
        %br
        %small To get started, take 5 minutes to help us collect information about your current recurring charges
      =link_to charge_wizard_path(:link_or_manual), class: "btn btn-primary-o btn-lg" do
        Let's Go!