#no-charge-options-container
  .paragraph-spacer
  .trym-fade-in
    .row.text-center
      .col-sm-12
        .trym-talking
          %p.lead.without-margin
            Hi there, let's get started.
      %p.lead
        Add some recurring expenses for me to track.

    .paragraph-spacer

    .row
      .col-sm-10.col-sm-offset-1.text-center
        %p.lead.without-margin
          =link_to linked_accounts_path, class: "btn btn-lg btn-block btn-primary-o btn-icon-left" do
            %span
              %i.fa.fa-credit-card.fa-3x.pull-left
            %span Link me to one or more of your financial accounts and i'll automatically identify your recurring expenses.

    .paragraph-spacer
    %p.lead.text-center.gray
      or if you don't want to link your accounts

    .row
      .col-sm-10.col-sm-offset-1.text-center
        %p.lead.without-margin
          =link_to new_charge_path, class: "btn btn-lg btn-block btn-primary-o btn-icon-left" do
            %span
              %i.fa.fa-plus-circle.fa-3x.pull-left
            %span I can help you quickly organize and input your recurring expenses manually.

    .paragraph-spacer
    %p.lead.text-center.gray
      or if you have a service you want to change right now

    .row
      .col-sm-10.col-sm-offset-1.text-center
        %p.lead.without-margin
          =link_to new_stop_order_path, class: "btn btn-lg btn-block btn-primary-o btn-icon-left" do
            %span
              %i.fa.fa-cogs.fa-3x.pull-left
            %span Cancel, upgrade, or downgrade any service with a few clicks.
