.row
  .col-md-3.col-sm-4.hidden-xs{style: "padding: 0px"}
    #side-list.scroll-pane.scrollable
      = render 'linked_account_list'
      = render 'contact'
      = render 'account_activity'
      = render 'shared/security_and_terms'
  .col-md-9.col-sm-8.scrollable
    -if @charges.present?
      =render 'content'
    -else
      =render 'no_charges_content'
    .paragraph-spacer