.paragraph-spacer

.row.text-center
  .col-sm-10.col-sm-offset-1.col-xs-12
    .trym-talking
      %p.lead.without-margin
        these are the most common categories of recurring expense
    %p.lead click on a category to quickly add an expense in it
    .row
      .col-md-10.col-md-offset-1
        .trym-category-grid
          -TrymCategory.other_last.each do |c|
            -charges = c.charges.where(user_id: current_user.id).recurring
            =link_to new_charge_path(trym_category_id: c.id), class: "trym-category-grid-cell #{charges.present? ? nil : "off"}", remote: true do
              %p.grid-title
                =c.name
              .row
                / TODO: correct calculation of monthly cost
                / .col-xs-6.text-center
                /   -if charges.sum(:amount) > 0
                /     %small
                /       #{number_to_currency charges.sum(:amount) * 100} / month
                .col-xs-12.text-center
                  %small #{charges.count} expenses
    %h5
      =link_to "click here when done adding expenses", charges_path