.paragraph-spacer
.text-center
	.trym-talking
		%p.lead.without-margin
			Here's all the transactions I have from your linked accounts.
	%p.lead Mark any expenses that are recurring so i can track them for you.

.row
	.col-md-10.col-md-offset-1
		=render 'charges/table/table'

:javascript
	activateChargeRow('')