.text-center
	.trym-talking
		%p.opener
			here's the transactions I have for your linked accounts
	%p.lead mark any expenses that are recurring so i can track them for you

.row
	.col-md-10.col-md-offset-1
		=render 'charges/table/table'

:javascript
	activateChargeRow('')