.container-fluid{style: "border-top: 1px solid lightgray; padding-top: 5px; padding-bottom: 5px;"}
	.row
		.col-xs-7.text-left{style: "margin-top: 4px;"}
			%i.fa.fa-copyright
			2015 Trym, LLC - 
			=link_to "Legal Stuff", legal_path

		.col-xs-5.text-right
			%a{href: "mailto:team@trym.io"}
				%i.fa.fa-2x.fa-envelope-square
			%a{href: "https://www.facebook.com/trym"}
				%i.fa.fa-2x.fa-facebook-square
			%a{href: "https://twitter.com/teamtrym"}
				%i.fa.fa-2x.fa-twitter-square
			%a{href: "https://www.linkedin.com/company/trym"}
				%i.fa.fa-2x.fa-linkedin-square