.container-fluid.footer-container
	.row
		.col-xs-12.text-center
			%i.fa.fa-copyright
			2015 trym.io &#x007C;
			=link_to "legal & privacy", legal_path
			%span &#x007C;
			=link_to "about", about_path
			%span &#x007C;
			%a{href: "mailto:team@trym.io"}
				%i.fa.fa-envelope-square
			%a{href: "https://www.facebook.com/trym.io", target: "_blank"}
				%i.fa.fa-facebook-square
			%a{href: "https://twitter.com/trym_io", target: "_blank"}
				%i.fa.fa-twitter-square
