.container-fluid.footer-container
	.row
		.col-xs-12.text-center
			%i.fa.fa-copyright
			2015 trym.io &#x007C;
			=link_to "legal & privacy", legal_path
			%span &#x007C;
			=link_to "about", about_path
