-if current_user.present?
  #whoami{ data: {user_id: current_user.id, intro: "#{current_user.show_intro}" } }
  
%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container-fluid 
    .navbar-header 
      %button.navbar-toggle.collapsed{type: "button", data: { toggle: "collapse", target: "#navbar-collapse-menu" } }
        %span.sr-only Toggle navigation
        -3.times do
          %span.icon-bar
      =link_to home_path, class: "navbar-brand visible-xs-inline-block" do
        %span.trym-logo
          <span class='brand-color'>t</span>rym
    
    .collapse.navbar-collapse#navbar-collapse-menu
      %ul.nav.navbar-nav
        %li.hidden-xs
          =link_to home_path, class: "navbar-brand" do
            %span.trym-logo
              <span class='brand-color'>t</span>rym
        %li
          =link_to about_path, class: class_header_link_formatting(about_path) do
            %i.fa.fa-question-circle.header-icon
            about
        -if user_signed_in?
          -if current_user.admin?
            %li
              =link_to admin_root_path, class: class_header_link_formatting(admin_root_path) do 
                %i.fa.fa-fighter-jet.header-icon
                admin
            %li
              =link_to new_user_invitation_path, class: class_header_link_formatting(new_user_invitation_path) do 
                %i.fa.fa-space-shuttle.header-icon
                invite
          %li
            =link_to edit_user_registration_path, class: class_header_link_formatting(edit_user_registration_path) do
              %i.fa.fa-user.header-icon
              my profile
          %li
            =link_to linked_accounts_path, class: class_header_link_formatting(linked_accounts_path) do
              %i.fa.fa-credit-card.header-icon
              link accounts
          %li=link_to "sign out", destroy_user_session_path, method: :delete, class: class_header_link_formatting(destroy_user_session_path)
        -else
          -unless current_page?(new_user_session_path)
            %li=link_to "sign in", new_user_session_path, remote: true
          -unless user_signed_in? && current_page?(new_user_session_path)
            %li          
              =link_to "sign up", new_user_registration_path