-if current_user.present?
  #whoami{ data: {user_id: current_user.id } }
  
%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation", style: "border-bottom: 1px solid lightgray;"}
  .container-fluid 
    .navbar-header 
      %button.navbar-toggle.collapsed{type: "button", data: { toggle: "collapse", target: "#navbar-collapse-menu" } }
        %span.sr-only Toggle navigation
        -3.times do
          %span.icon-bar     
      =link_to home_path, class: "navbar-brand" do
        =image_tag "logo.svg", size: "25"
    
    .collapse.navbar-collapse#navbar-collapse-menu
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to about_path, class: class_header_link_formatting(about_path) do
            %i.fa.fa-question-circle.header-icon
            about
        -if user_signed_in?
          -if current_user.admin?
            %li
              =link_to admin_root_path, class: class_header_link_formatting(admin_root_path) do 
                %i.fa.fa-fighter-jet.header-icon
                admin
          %li
            =link_to edit_user_registration_path, class: class_header_link_formatting(edit_user_registration_path) do
              %i.fa.fa-user.header-icon
              my profile
          %li
            =link_to linked_accounts_path, class: class_header_link_formatting(linked_accounts_path) do
              %i.fa.fa-credit-card.header-icon
              linked accounts
          %li
            =link_to charges_path, class: class_header_link_formatting(charges_path, root_path) do
              %i.fa.fa-home.header-icon
              overview
          %li=link_to "sign out", destroy_user_session_path, method: :delete, class: class_header_link_formatting(destroy_user_session_path)
        -else
          -unless current_page?(new_user_session_path)
            %li=link_to "sign in", new_user_session_path, remote: true
          -unless user_signed_in? && current_page?(new_user_session_path)
            %li
              %span.hidden-xs
                =link_to "request invite", new_invite_request_path, remote: true, class: "btn btn-primary navbar-btn navbar-sign-up-btn"
              =link_to "request invite", new_invite_request_path, remote: true, class: "visible-xs-block"