.modal.fade#modal-container
  %button.hidden-xs{ type: "button", class: "close", data: {dismiss: "modal"}, onClick: '$(".modal-dialog").remove()' }
    %span.modal-close-x{ aria_hidden: "true"} &times;
    %span.sr-only Close