!!!
%html
  %head
    =render 'layouts/head'
  
  %body.scrollable
    = render 'layouts/header'
    .header-padding{style: "padding-top: 50px;"}
      = render 'layouts/flash'
      = yield
      = render 'layouts/footer'


    =render 'layouts/modal_and_brand'