!!!
%html{id: "#{controller_name.gsub("_","-")}-#{action_name.gsub("_","-")}"}
  %head
    =render 'layouts/head'

  %body
    .container-fluid
      = yield

  #script-foot
    =render 'layouts/footer_script'